.ar-med-arbeidserfaring__header {
    .skjemaelement__sporsmal {
        margin-bottom: 0.25rem;
    }

    // Dobbel selector for å overskrive styling fra nav-frontend
    legend.skjemagruppe__legend {
        margin-bottom: 0;
    }

    &.skjemagruppe {
        margin-top: 1rem;
        .checkbox--arbeidserfaring {
            margin-bottom: 0.5rem;
        }
    }
}
