.fersk-arbeidserfaring {
    margin-top: 2rem;
    margin-bottom: 2rem;

    .skjemaelement__sporsmal {
        margin-bottom: 0.25rem;
    }

    &__hjelpetekst {
        margin-bottom: 1rem;
    }

    &__knapp + &__knapp {
        margin-top: 0.5rem;
    }

    &__input-wrapper {
        margin-top: 0.5rem;
        margin-left: 2rem;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: start;
    }

    &__bruk-knapp {
        margin-left: 0.5rem;
    }
}
