.fersk-arbeidserfaring {
    margin-top: 2rem;

    &__knapp + &__knapp {
        margin-top: 0.5rem;
    }

    &__input-wrapper {
        margin-top: 0.5rem;
        margin-left: 2rem;
        display: flex;
    }

    &__knapp {
        margin-left: 0.5rem;
    }
}
