.fersk-arbeidserfaring {

    &.skjemagruppe {

        &.fersk-arbeidserfaring {
            margin-top: 2rem;
            .fersk-arbeidserfaring__knapp {
                margin-bottom: 0.5rem;
            }
            .fersk-arbeidserfaring__hjelpetekst {
                margin-bottom: 1rem;
            }
        }

    }
}

