.kandidatlister-filter {
    margin-top: 5.25rem;

    &__radio + &__radio {
        margin-top: 0.5rem;
    }

    &__skjemagruppe {
        &:not(:last-child) {
            margin-bottom: 1rem;
            border-bottom: 1px solid lightgray;
        }
    }
}
