@import '../../variabler.less';

.matchforklaring {
    padding: 2rem;

    table,
    th,
    td {
        border: 1px solid gray;
    }

    th,
    td {
        padding: 0.25rem;
    }

    &__personalia {
        table,
        th,
        td {
            border: none;
        }

        th,
        td {
            padding: 0.125rem;
        }

        td:first-child {
            font-weight: bold;
        }
    }

    &__seksjon {
        padding: 1rem;
        margin-bottom: 1.5rem;
        background-color: white;
        border-radius: 0.25rem;

        &[open] .matchforklaring__seksjonsikon--ned {
            display: none;
        }

        &:not([open]) .matchforklaring__seksjonsikon--opp {
            display: none;
        }

        summary {
            list-style: none;

            h2 {
                display: flex;
                align-items: center;
            }

            &:hover {
                h2 {
                    cursor: pointer;
                    color: @navBla;
                    text-decoration: underline;
                }
            }
        }
    }

    &__seksjonsikon {
        display: inline-block;
        margin-right: 1rem;
        transform: scale(0.75);
    }
}
