.header {
    background-color: var(--rekrutteringsbistandBla);
    padding: 0rem 1rem 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #a0a0a0;
}

.navigasjon {
    background-color: var(--rekrutteringsbistandBla);
    padding: 0.75rem 1rem;
    top: 0px;
    position: sticky;
    z-index: 2;
}

.column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
    max-width: var(--kandidatsok-innhold-bredde);
}

.header > .column {
    flex-direction: column;
    align-items: flex-start;
    max-width: 60rem;
    position: relative;
    z-index: 2;
}

.kontaktinfo > *:not(:last-child)::after {
    content: '|';
    margin: 0 0.5rem;
}

@media (min-width: 800px) {
    .header {
        padding: 0rem 2rem 2rem;
        margin-bottom: 1.5rem;
    }

    .navigasjon {
        padding: 1rem 2rem;
    }
}
