@import '../../../felles/Variables.less';

.bransjevelger {
    margin: 1rem 3rem 0 3rem;
    border: 1px solid @navMorkGra;

    &__bransjer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__bransjer {
        width: 90%;
    }

    &__bransje {
        &__innhold {
            flex: 1;
            min-width: 15rem;

            margin: 0.5rem 1rem 0.5rem 0;
            .typo-element {
                margin-bottom: 0.75rem;
                color: @navMorkGra;
            }
            .typo-normal {
                line-height: 1.75rem;
                color: @navMorkGra;
            }
            a {
                display: block;
                line-height: 1.75rem;
                color: #8c368e;
            }
        }
        .ekspanderbartPanel__hode {
            &:hover {
                .ekspanderbartPanel__heading {
                    color: #8c368e;
                }
            }
        }
    }

    &__linktekst {
        white-space: nowrap;
    }
}
