@import '../../../felles/Variables.less';

.bransjevelger {
    margin: 1rem 3rem 0 3rem;
    border: 1px solid @navMorkGra;

    &__bransjer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__bransje {
        &__innhold {
            flex: 1;
            min-width: 15rem;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            .typo-element {
                margin-bottom: 0.75rem;
                color: @navMorkGra;
            }

            .typo-normal {
                line-height: 1.75rem;
                color: @navMorkGra;
            }

            a {
                display: block;
                line-height: 1.75rem;
                color: #8c368e;
            }
        }

        .ekspanderbartPanel__hode {
            &:hover {
                .ekspanderbartPanel__heading {
                    color: #8c368e;
                }
            }
        }
    }

    &__linktekst {
        white-space: nowrap;
    }

    @media (min-width: @screen-sm) {
        margin: 1rem 3rem 0 3rem;

        &__bransjer {
            flex-direction: row;
        }

        &__bransje__innhold {
            &:not(:last-child) {
                margin-bottom: 0rem;
                margin-right: 1rem;
            }
        }
    }
}
