.bransjevelger {
    &__bransjer {
        display: flex;
        flex-wrap: wrap;
    }

    &__bransje {
        margin-bottom: 1rem;

        &__innhold {
            margin: 1rem 4rem 1rem 0;
            .typo-element {
                margin-bottom: 1rem;
            }
            .typo-normal {
                line-height: 1.75rem;
            }
            a {
                display: block;
            }
        }
    }

    &__linktekst {
        white-space: nowrap;
    }
}
