@import '../../../felles/Variables.less';

.viktigeYrker {
    margin: 2rem 0.5rem 0 0.5rem;
    border: 1px solid @navMorkGra;

    background-color: #CCE1F3;

    > .ekspanderbartPanel__hode {
        padding: 2rem 3.75rem 2rem 4rem;
        background-color: #CCE1F3;
        &:hover {
            .ekspanderbartPanel__heading {
                text-decoration: none;
                color: @navMorkGra;
            }
        }
        > .ekspanderbartPanel__flex-wrapper {
            > .ekspanderbartPanel__indikator {
                color: @navBla;
                zoom: 2;
            }
        }
    }

    > .ReactCollapse--collapse {
        .ekspanderbartPanel__innhold {
            padding-bottom: 2rem;
        }
    }

    &__tittel {
        display: flex;

        &--tekst {
            margin: 0 2rem 0 2rem;
            max-width: 40rem;

            .typo-element {
                font-size: 1.5rem;
                margin: 1rem 0 1rem 0;
            }
            .typo-normal {
                font-size: 1.25rem;
                margin-top: 1rem;
                line-height: 1.75rem;
            }
        }

        &--ikon {
            width: 100px;
            height: 100px;
            line-height: 100px;
            border-radius: 50%;
            text-align: center;
            color: white;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 700;
            background-color: #99bdcd;
        }
    }
}
