@import '../../../felles/Variables.less';

.viktigeYrker {
    margin: 2rem 0;
    padding: 2rem;
    background-color: #e3edf8;

    > .ekspanderbartPanel__hode {
        background-color: #e3edf8;
        &:hover {
            .ekspanderbartPanel__heading {
                text-decoration: none;
                color: @navMorkGra;
            }
        }
        > .ekspanderbartPanel__flex-wrapper {
            > .ekspanderbartPanel__indikator {
                color: @navBla;
                zoom: 1.5;
            }
        }
    }

    &__tittel {
        display: flex;

        &--tekst {
            margin: 0 2rem 0 2rem;

            .typo-element {
                font-size: 1.5rem;
                margin: 1rem 0 1rem 0;
            }
            .typo-normal {
                font-size: 1.125rem;
                margin-top: 1rem;
            }
        }

        &--sirkel {
            width: 100px;
            height: 100px;
            line-height: 100px;
            border-radius: 50%;
            text-align: center;
            color: white;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 700;
            background-color: #99bdcd;
        }
    }
}
