.smsStatusPopup {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.smsStatusPopup:not(:hover, :active, :focus) .smsIkonFylt {
    display: none;
}

.smsStatusPopup:is(:hover, :active, :focus) .smsIkonIkkeFylt {
    display: none;
}

.smsStatusPopup:hover {
    cursor: pointer;
}

.fargeleggIkonMedFeil {
    color: red;
}

.smsIkon:not(.fargeleggIkonMedFeil) {
    color: green;
}
