@import '../../variabler';

.cv-meny {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
    max-width: @kandidatsok-innhold-bredde;
    margin-bottom: 2.5rem;
    box-shadow: 0px 2px 4px #c6c2bf;

    @media (min-width: 1024px) {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    @media (min-width: 1590px) {
        margin-right: auto;
        margin-left: auto;
    }

    .ForlateSiden__icon {
        margin-left: 0;
    }

    &__se-aktivitetsplan {
        margin-left: 0.25rem;
    }

    &__children {
        display: flex;
        align-items: center;
    }
}
