@import '~nav-frontend-core/less/_variabler';

@mobile: ~'only screen and (min-width: 1px) and (max-width: 767px)';
@screen-xs: 480px;
@skjerm-medium: 1281px;

@kandidatsok-sidepanel-bredde: 13rem;
@kandidatsok-innhold-bredde: 95.5rem;
