.formidlingAvUsynligKandidatrad {
    border: 1px solid var(--a-gray-400);
    border-radius: 4px;
    background-color: var(--rekrutteringsbistandBla);
    margin-top: 0.5rem;
    height: 4.5rem;
    display: grid;
    padding-left: 1.25rem;
    padding-right: 0.5rem;
    grid-template-columns:
        minmax(0, 2.5fr)
        minmax(0, 13fr)
        minmax(0, 26fr)
        minmax(0, 37fr);
}

.formidlingAvUsynligKandidatrad > * {
    display: flex;
    align-items: center;
}

.lukketListe {
    background-color: unset;
    border-color: var(--a-gray-600);
    grid-template-columns:
        minmax(0, 2.5fr)
        minmax(0, 13fr)
        minmax(0, 26fr)
        minmax(0, 37fr);
}

.kolonne {
    padding: 0 0.5rem;
}
