@import '../../Variables';

.checkbox--manglende--arbeidserfaring {
  margin: 2rem 0;
}

@media (min-width: 450px) and (max-width: @screen-sm-min) {
  .utdanningsniva {
    width: 45%;
  }
}
@media (min-width: @screen-sm) {
  .utdanningsniva {
    width: 30%;
  }
}

@media (max-width: 449px) {
  .utdanningsniva {
    width: 100%;
  }
}

.sokefelt--wrapper--utdanning {
    margin: 0 1rem 0.5rem 0;
    width: 15rem;
    display: inline-block;
}
