@import '../../Variables';

.checkbox--manglende--arbeidserfaring {
  margin: 2rem 0;
}

@media (max-width: 509px) {
  .utdanningsniva {
    width: 100%;
  }
}

@media (min-width: 510px) {
  .utdanningsniva {
    width: 46%;
  }
}

.sokefelt--wrapper--utdanning {
    margin: 0 1rem 0.5rem 0;
    width: 15rem;
    display: inline-block;
}
