.kandidatliste {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #59514b;

    &__filter {
        grid-area: filter;

        .ekspanderbartPanel__innhold {
            padding-bottom: 1.25rem;
        }
    }

    &__kontrollpanel {
        display: flex;
        align-items: center;
        margin: 2.5rem auto;
        max-width: 95.5rem;
        width: 100%;
        background-color: #f1f1f1;
        padding: 1.5rem;

        .finn-kandidater {
            font-weight: 600;
            margin-right: 2rem;
        }

        .legg-til-kandidat {
            font-weight: 600;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            'ingenting over-liste'
            'filter liste';
        grid-gap: 1.5rem 4rem;
        max-width: 95.5rem;
        margin: 2.5rem auto;

        .liste-header {
            border: 1px solid #78706a;
        }
    }

    &__knapperad-container {
        grid-area: over-liste;
    }

    &__liste {
        width: 74rem;
        grid-area: liste;

        .liste-rad-wrapper {
            border-radius: 4px;
            background-color: white;

            .liste-rad {
                height: 4.5rem;
                display: grid;
                padding-left: 1.25rem;
                padding-right: 0.5rem;
                grid-gap: 1rem;
                grid-template-columns:
                    1.6fr minmax(0, 12fr) minmax(0, 8fr) minmax(0, 11fr)
                    minmax(0, 12fr) minmax(0, 4fr) minmax(0, 4fr);

                &--vis-arkivering {
                    grid-template-columns:
                        1.6fr minmax(0, 12fr) minmax(0, 8fr) minmax(0, 11fr)
                        minmax(0, 12fr) minmax(0, 4fr) minmax(0, 4fr) minmax(0, 3fr);
                }

                &--vis-utfall {
                    grid-template-columns:
                        1.6fr minmax(0, 12fr) minmax(0, 8fr) minmax(0, 11fr)
                        minmax(0, 10fr) minmax(0, 12fr) minmax(0, 4fr) minmax(0, 4fr);
                }

                &--vis-utfall-og-arkivering {
                    grid-template-columns:
                        1.6fr minmax(0, 12fr) minmax(0, 8fr) minmax(0, 11fr)
                        minmax(0, 10fr) minmax(0, 12fr) minmax(0, 4fr) minmax(0, 4fr) minmax(0, 3fr);
                }

                &__ekspanderbar-knapp {
                    display: flex;
                    align-items: center;

                    i {
                        margin-right: 0.4rem;
                    }
                }

                &__antall-notater {
                    margin-right: 0.4rem;
                }

                .StatusSelect {
                    max-width: 11rem;
                }

                .kolonne-midtstilt {
                    justify-content: center;
                }

                .status-overskrift {
                    font-weight: 600;
                    width: 10.25rem;
                    max-width: 10.25rem;
                    display: flex;
                    align-items: center;

                    .hjelpetekst {
                        margin-left: -0.75rem;
                        .bred-hjelpetekst {
                            width: 29rem;
                        }
                    }

                    .statusforklaring-stor {
                        ul {
                            padding-left: 1.5rem;
                            li:not(:first-child) {
                                padding-top: 0.25rem;
                            }
                        }
                    }
                }

                > * {
                    display: flex;
                    align-items: center;
                }

                .kolonne-med-sms {
                    .link {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .hjelpetekst {
                        padding-left: 0.5rem;
                    }
                }

                .tabell-tekst {
                    white-space: nowrap;
                }

                .tabell-tekst-inner {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .kolonne-checkboks {
                    padding-right: 1.25rem;
                    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                        .skjemaelement {
                            padding-bottom: 1.5rem;
                        }
                    }
                }
            }
            .info-under-kandidat {
                background-color: #f6f5f5;
                display: flex;
                justify-content: center;
                padding-top: 2rem;
                padding-bottom: 2rem;

                .info-under-kandidat-content {
                    width: 40rem;
                    .avsnitt {
                        margin-top: 1.25rem;
                    }

                    .spinner-wrapper {
                        display: flex;
                        justify-content: center;
                        padding-top: 1.25rem;
                    }

                    .notatliste {
                        margin-top: 2rem;
                        border-top: 1px solid #d8d8d8;

                        .notatliste-rad {
                            border-bottom: 1px solid #d8d8d8;
                            padding-top: 1rem;
                            padding-bottom: 1rem;

                            .notat-tekst {
                                margin-top: 0.25rem;
                                padding-right: 6.25rem;
                            }
                        }
                    }
                }

                .nytt-notat-form {
                    margin-top: 2rem;

                    .nytt-notat-tekst {
                        margin-top: 0.25rem;
                        min-height: 7.5rem;
                    }
                }

                .nytt-notat-knapperad {
                    margin-top: 1.25rem;

                    > :not(:first-child) {
                        margin-left: 1rem;
                    }
                }
            }
            .mer-info {
                display: flex;

                .kontaktinfo-kolonne {
                    flex: 2;
                }

                .innsatsgruppe-kolonne {
                    flex: 1;
                }

                .tekst {
                    margin-top: 1rem;
                    line-height: 1.3rem;
                }
            }
        }
        .kandidat {
            margin-top: 0.5rem;
        }

        .kandidat.checked {
            border: 1px solid #0067c5;
        }

        .kandidat.unchecked {
            border: 1px solid #d8d8d8;
        }
    }
}

.notat-topprad {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .notatinfo {
        .grey-tekst {
            color: #78706a;
        }
        .red-tekst {
            color: #c30000;
        }
    }
    .endre-knapper {
        > :first-child {
            margin-right: 0.5rem;
        }
    }
}
.notat-tekst {
    margin-top: 0.25rem;
    padding-right: 6.25rem;
}

.skjemaelement {
    margin: 0;
}

.skjemaelement__label {
    margin-bottom: 0;
}

.fullscreen-spinner {
    text-align: center;
    margin-top: 1.25rem;
}

.PresenterKandidaterModal {
    width: 640px;
    .wrapper {
        margin: 1rem;
        > * {
            margin-bottom: 1.5rem;
        }
        :last-child {
            margin-bottom: 0;
        }
        .forklaringstekst {
            margin-right: 1rem;
        }
        label.skjemaelement__label {
            margin-bottom: 0.5rem;
        }
        .skjemaelement__input {
            border: 1px solid #b7b1a9;
        }
        .mailadresser {
            .skjemaelement {
                transition: all 0.4s ease-in-out;
                margin-bottom: 0;
                max-height: 0;
                opacity: 0;
            }
            .skjemaelement.show {
                margin-bottom: 1rem;
                max-height: 100px;
                opacity: 1;
            }
        }
        .beskjed {
            min-height: 6.25rem;
        }
        .avbryt--knapp {
            margin-left: 1rem;
        }
    }
}

.LeggTilKandidatModal {
    width: 640px;
    padding: 2rem;
    .tittel {
        margin-bottom: 1.25rem;
    }
    .leggTilKandidatModal--feilmelding__ul {
        margin: 0.5rem 0 0;
    }
    .skjemaelement__input {
        border: 1px solid #b7b1a9;
    }
    .skjemaelement__label {
        margin-bottom: 0.5rem;
    }
    .fodselsnummer {
        margin-top: 1rem;
    }
    .legg-til-kandidat__advarsel {
        margin-top: 2rem;
    }
    .legg-til--knapp {
        margin: 2.5rem 1rem 0 0;
    }
    .avbryt--knapp {
        margin-top: 2.5rem;
    }

    .skjemaelement.legg-til-kandidat__fodselsnummer {
        margin-top: 2rem;
    }

    .legg-til-kandidat__notatoverskrift {
        margin-top: 2rem;
    }

    .legg-til-kandidat__notat {
        min-height: 10rem;
    }
}
.RedigerNotatModal {
    width: 40rem;
    padding: 1rem;
    .overskrift {
        margin-bottom: 2rem;
    }
    .tekstomrade {
        margin-bottom: 2rem;
        .tekstomrade-input {
            min-height: 6.25rem;
            margin-top: 0.25rem;
        }
    }
    .modalknapp {
        margin-bottom: 0;
    }
    .venstre {
        margin-right: 1rem;
    }
}
.modal.SlettNotatModal {
    width: 40rem;
    padding: 2rem;
    .overskrift {
        margin-bottom: 2rem;
    }
    .notat-tekst {
        margin-bottom: 2.5rem;
        padding-right: 2rem;
    }
    .avbryt--knapp {
        margin-left: 1rem;
    }
}

.SendEpostModal {
    width: 40rem;
    padding: 2rem;
    color: #3e3832;
    .SendEpostModal-overskrift {
        padding-bottom: 1.25rem;
    }
    .SendEpostModal-ingress {
        padding-bottom: 1.25rem;
    }
    .bold {
        font-weight: 600;
    }

    .kandidat-tabell {
        border-top: 1px solid #d8d8d8;
        margin-bottom: 2.5rem;

        .kandidat-tabell-innhold {
            max-height: 17.5rem;
            overflow-y: scroll;
        }

        .kandidat-tabell-rad {
            display: flex;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid #d8d8d8;

            .kandidat-tabell-rad-navn {
                flex: 1;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-right: 2rem;
            }

            .kandidat-tabell-rad-epost {
                flex: 1;
            }
        }
        .kandidat-tabell-rad__inaktiv {
            background-color: #f6f5f5;
            color: #78706a;
        }
    }

    .SendEpostModal--knapperad {
        display: flex;
        justify-content: space-between;
    }
    .tekst {
        margin: 1rem auto 2rem;
        max-width: 27rem;
    }
    .lukk--knapp {
        margin-bottom: 1rem;
    }
}
