@import '../../../felles/Variables';

.label--resultatvisning,
.label--resultatvisning-mobile {
  display: inline-block;
  padding: 0 !important;
  margin: 0 !important;
}

.lenke--kandidatnr {
  display: table;
  p {
    margin-right: 0;
  }
  &:focus {
    background-color: @orangeFocus;
    outline: none;
  }
}

.lenke--kandidatnr:visited {
  color: @gray5;
}
.KandidaterTableRow__kandidatnr--wrapper,
.KandidaterTableHeader__kandidatnr--wrapper {
  display: flex;

  .lenke--kandidatnr--wrapper,
  .KandidaterTableHeader__Checkbox-label {
    padding-left: 8px;

    .label--resultatvisning-mobile {
      width: 15rem;
    }
  }
}

.kandidater--header .hidden-mobile {
  display: none;
}

.Kandidater-table {
  .tr, .thead {
    border: 2px solid transparent;
  }
}

@media(min-width: @screen-sm-min){
  .kandidater--row {
    display: inline-flex;
    align-items: center;
    width: 100%;

    .skjemaelement {
      margin: 0;
    }

    .utdanning {
      overflow: hidden;
      max-lines: 2;
      text-overflow: ellipsis;
    }

    .KandidaterTableRow__Checkbox {
      flex: 1;
    }

    .lenke--kandidatnr--wrapper {
      flex: 2;
    }
  }

  .kandidater--header {
    display: inline-flex;
    align-items: center;
    width: 100%;

    .skjemaelement {
      margin: 0;
    }

    .hidden-desktop {
      display: none;
    }

    .KandidaterTableHeader__Checkbox {
      flex: 1;
    }

    .KandidaterTableHeader__Checkbox-label {
      flex: 2;
    }
  }

  .kandidater--header .hidden-mobile {
    display: block;
  }
}

.kandidater--row--checked {
  border-color: transparent;
}

.kandidater--row--sett {
  outline: none;
  border-color: #FFBD66 !important;
}

.no-padding {
  padding: 0 !important;
}

.yrkeserfaring, .utdanning, .lengdeYrkeserfaringTekst, score {
  padding: 0;
  text-align: left;
}

.bosted {
  max-width: 5.543rem;
  padding: 0;
  text-align: left;

  @media(max-width: @screen-xs-max){
    max-width: 10rem;
  }
}

.score {
  @media(max-width: @screen-xs-max){
    margin-top: 0.5rem;
  }
}

.border--vertical {
  border-left: 1px solid #b7b1a9;
  height: 21px;
  float: left;
}
