:root {
    --kolonner: 11rem 1fr;
}

.cv {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.sammendrag {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.bolkMedErfaringer,
.bolkMedPunktliste {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.arbeidsgiverOgSted {
    margin-bottom: 0.5rem;
}

.erfaringer {
    display: flex;
    flex-direction: column;
}

.tidsperiode {
    margin-top: 0.125rem;
}

.erfaring {
    margin-bottom: 1rem;
}

.bold {
    font-weight: bold;
}

.punktliste {
    padding-left: 1rem;
    margin: 0;
    column-count: 2;
    column-gap: 2rem;
}

@media (min-width: 600px) {
    .erfaringer {
        display: grid;
        grid-template-columns: var(--kolonner);
        gap: 1rem;
    }

    .sammendrag {
        display: grid;
        grid-template-columns: var(--kolonner);
        gap: 1rem;
    }

    .erfaring {
        margin-bottom: 0;
    }
}

@media (min-width: 900px) {
    /*
    .bolkMedErfaringer,
    .bolkMedPunktliste {
        display: grid;
        grid-template-columns: var(--kolonner);
        gap: 2rem;
    }
    */

    .punktliste {
        column-count: 3;
    }
}
