.Lenkeknapp {
    border: none !important;
    margin: 0;
    padding: 0;
    background: none;
    color: var(--a-surface-action);
    text-decoration: none;
    cursor: pointer;
    text-align: left;
    max-height: 2rem;
}

.Lenkeknapp:focus {
    outline: 3px solid var(--a-blue-800);
}

.Lenkeknapp:hover {
    color: var(--a-surface-action);
    background-color: inherit;
    border: none;
}

.Lenkeknapp:active:hover {
    color: var(--a-surface-action);
    background-color: inherit;
}
