.statusOgHendelser {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    gap: 0.5rem;
}

.popover {
    padding: 1.25rem 1rem 1.25rem 2rem;
}

.lukkPopoverKnapp {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
