.popover {
    padding: 1.5rem;
    width: 35rem;
}

.popoverBred {
    width: 55rem;
}

.statusOgHendelser {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    gap: 0.5rem;
}

.lukkPopoverKnapp {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
