@import '../../felles/Variables.less';

.Lenkeknapp {
    border: none !important;
    margin: 0;
    padding: 0;
    background: none;
    color: @pinkDarken;
    text-decoration: none;
    cursor: pointer;

    &:focus {
        outline: 3px solid @navOransjeLighten40;
    }

    &:active {
        color: @pink;
    }
}
