@import 'src/variabler.less';

.Kandidatlister {
    font-family: 'Source Sans Pro', Arial, sans-serif;

    .kandidatlister-wrapper {
        display: grid;
        grid-template-areas:
            'over-liste'
            'filter'
            'liste'
            'under-liste';
        grid-gap: 1rem;

        margin: 0 auto;
        padding: 0 2rem;
    }

    .kandidatlister-filter {
        grid-area: filter;
    }

    .kandidatlister-table--top {
        display: flex;
        justify-content: space-between;
        grid-area: over-liste;
        margin-top: 2.5rem;

        .kandidatlister-table--top__knapper {
            border-radius: 0;
            &:last-child {
                margin-left: 4rem;
            }
            padding: 0;
            border: none;
            background: none;

            &:hover {
                border-bottom: 2px solid;
            }
        }

        .knapp--aktiv {
            .typo-element {
                border-bottom: 2px solid;
            }

            &:hover {
                border-bottom: none;
            }
        }
    }

    .kandidatlister-table {
        grid-area: liste;
        margin-bottom: 2rem;
    }

    .kandidatlister-table--bottom {
        grid-area: under-liste;
        text-align: center;

        .kandidatlister-table--bottom__buttons {
            margin-top: 1rem;
        }
    }

    @media (min-width: 1280px) {
        .kandidatlister-wrapper {
            display: grid;
            grid-template-areas:
                'over-filter over-liste'
                'filter liste'
                'under-filter under-liste';
            grid-column-gap: 3rem;
            grid-template-columns: 13rem auto;
        }

        .kandidatlister-wrapper,
        .side-header__innhold {
            max-width: 99.5rem;
        }
    }
}

.modal--opprett-kandidatliste__veileder {
    max-width: 40rem;

    .OpprettKandidatlisteForm {
        input {
            padding: 0.75rem;
        }

        textarea {
            padding: 0.75rem;
            min-height: 8.25rem;
        }

        & .OpprettKandidatlisteForm__typeahead {
            .search-button__icon {
                width: 28px;
                height: 28px;
            }

            ul {
                max-height: 17rem;
            }

            .OpprettKandidatlisteForm__bedrift {
                margin-top: 0.5rem;
            }
        }
    }

    .OpprettKandidatlisteForm__input {
        margin-bottom: 2rem;

        .skjemaelement__label {
            margin-bottom: 0.5rem;
        }
    }

    .knapp--avbryt {
        margin-left: 1rem;
    }
}

.modal--marker-kandidatliste-som-min {
    width: 640px;

    &.modal {
        // Overriding av nav-frontend
        padding: 2rem;
    }
    .marker-som-min__avbryt {
        margin-left: 1rem;
    }
}

.kandidatlister-meny {
    display: flex;
    flex-direction: column;

    button {
        background: none;
        border: none;
        text-align: left;
        cursor: pointer;
        padding: 0.25rem 0;

        &:focus {
            outline: none;
            box-shadow: 0 0 0 3px @fokusFarge;
        }

        &:not(:disabled) {
            color: @navBla;

            &:hover {
                text-decoration: underline;
            }
        }

        &:disabled {
            color: @navGra80;
        }

        &:not(:last-child) {
            margin-bottom: 0.25rem;
        }
    }
}

.arrow-up {
    position: absolute;
    transform: rotate(45deg) translate(calc(5px), calc(65px));
    width: 10px;
    height: 10px;
    background: @rekrutteringsbistandBla;
    border-left: 1px solid @navGra20;
    border-top: 1px solid @navGra20;
    z-index: 1;
}
