@import '../../Variables';
@import "../../../node_modules/nav-frontend-lenker-style/src/lenker-style";

@media (min-width: @screen-md-min) {
  .modal--resultat {
    width: 50%;
  }
}

.modal--systemtittel {
  margin: 2rem 0 1rem 0 !important;
}

.cv--button--row {
  margin: 2rem 0;

  button {
    margin-right: 1rem;
    margin-left: 0;
  }
}

.undertittel--beskjed--sendt {
  margin: 1rem 0 3rem 0 !important;
}

.editor--send--beskjed {
  margin-top: 1rem;
}

.input--resultat {
  border: solid 1px #d8d8d8;
  margin-top: 1rem;
  padding: 0.5rem 0.5rem;
}

// Overrides margins and links inside the Rich text editor.
.RichTextEditor__paragraph___3NTf9 {
  margin: 0 !important;
  a {
    .lenke;
  }
}

