.tabell {
    --ac-table-row-zebra: white;
}

.fantIngenKandidater {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.fantIngenKandidater p {
    font-size: 1.5rem;
}

.disabledValg {
    color: var(--a-text-subtle);
}
