.permittering-search {
    &__checkbox:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    &__tittel {
        display: flex;
        align-items: center;

        .nytt-filter-ikon {
            margin-left: 0.5rem;
        }
    }

    &__ingress.typo-normal {
        margin-bottom: 1rem;
    }
}
