@import '../../../../node_modules/pam-frontend-core/less/variables.less';

.LenkeMedChevron__lenke {
    color: @pinkDarken;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Source Sans Pro', Arial, sans-serif;

    &:hover {
        color: @pink;
    }

    &:focus {
        outline: none;
        .LenkeMedChevron__lenke__text {
            outline: none;
            background: @orangeFocus;
        }
    }
}

.LenkeMedChevron__lenke__chevron {
    margin-left: 0;
    color: @pinkDarken;
}
