.children {
    margin-top: 1.5rem;
}

.ikonGrafikkGrønn path {
    fill: white;
}

.ikonGrafikkOransje {
    user-select: none;
    font-size: 1.125rem;
}

.ikonGrafikkOransje path {
    fill: black;
}

.heltrukkenStrek {
    color: grey;
}

.heltrukkenStrek:not(:last-child) {
    border-color: grey !important;
    border-left-style: solid !important;
}

.ikon {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
    margin-right: 0.5rem;
    transform: translateX(-50% - 4px);

    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: white;
    border: 2px dotted darkgrey;
    box-shadow: 0px 0px 0px 2px white;
}

.grøntIkon {
    background-color: var(--a-surface-success);
    border-color: var(--a-surface-success);
    border-style: solid;
}

.oransjeIkon {
    color: white;
    background-color: var(--a-surface-warning);
    border-color: var(--a-surface-warning);
    border-style: solid;
}

.blåttIkon {
    color: white;
    background-color: var(--a-surface-info);
    border-color: var(--a-surface-info);
    border-style: solid;
}

.rødtIkon {
    color: white;
    background-color: var(--a-nav-red);
    border-color: var(--a-nav-red);
    border-style: solid;
    font-size: 1.4rem;
}

.hendelse {
    display: flex;
    align-items: flex-start;
    margin-left: 0.5rem;
    border-left: 2px solid transparent;
    color: grey;
    max-width: 29rem;
}

.hendelse:not(:last-child) {
    padding-bottom: 2rem;
    border-color: darkgrey;
    border-left-style: dotted;
}
