@import '../../Variables';

@media (min-width: 510px) and (max-width: @screen-sm-min) {
    .arbeidserfaring {
        width: 45%;
    }
}

@media (min-width: @screen-sm) {
    .arbeidserfaring {
        width: 22%;
    }
}

@media (max-width: 509px) {
    .arbeidserfaring {
        width: 100%;
    }
}

.ar-med-arbeidserfaring__header {
    .skjemaelement__sporsmal {
        margin-bottom: 0.5rem;
    }
}

.checkbox--arbeidserfaring {
    margin-bottom: 0.5rem !important;
}
