@import 'src/variabler.less';

.powerknapp {
    width: unset;
    height: 1.5rem;
    padding: 0 0.25rem;
}

.powerknapp svg {
    width: 18px;
    height: 18px;
}

.kandidatlister-rad {
    &__popover {
        // Overstyr styling fra nav-frontend
        &[role='button'] {
            cursor: unset;
        }
    }

    &__feilmelding {
        padding: 1rem;
        background-color: @navLysBlaLighten80;
        max-width: 20rem;
    }

    &__dropdown-valg {
        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    &__sorterbar-kolonne {
        padding-left: 0.5rem;
        &__last {
            margin-right: 0.5rem;
            padding-right: 2rem;
            padding-left: 0.3rem;
        }
    }
}
