@import '../../variabler.less';

.LagreKandidaterModal {
    width: 40rem;

    .LagreKandidaterModal--wrapper {
        .overskrift {
            margin-bottom: 1.25rem;
        }
        .knapperad {
            margin-top: 2rem;
        }

        .ny-liste-overskrift {
            margin-bottom: 1.25rem;
        }

        ul {
            list-style: none;
            padding: 0;
            margin-top: 0.625rem;
        }

        li:not(:last-child) {
            margin-bottom: 0.75rem;
        }
    }
}

.LagreKandidaterModal {
    width: 800px;
    .LagreKandidaterModal--wrapper {
        .tittel {
            margin-bottom: 1.25rem;
        }
        .text {
            margin-bottom: 2.5rem;
        }
        .lister--rader {
            display: flex;
            margin: 0 0 1rem;
            padding-bottom: 1rem;
            border-bottom: solid 2px @navGra20;
            .opprettet__col {
                flex: 2;
            }
            .leggTil__col {
                flex: 3;
                white-space: nowrap;
                text-align: right;
                &.rowItem {
                    height: 30px;
                }
                &.rader--text {
                    padding-right: 0;
                }
            }
            .opprettet--dato__col {
                flex: 2;
            }
            .stillingstittel__col {
                flex: 7;
            }
            .arbeidsgiver__col {
                flex: 4;
            }
            .rader--text {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-right: 1rem;
            }
            .rader--text__dato {
                line-height: 1.5rem;
            }
            .ikon__lagtTil {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M12 0C5.383 0 0 5.384 0 12s5.383 12 12 12c6.616 0 12-5.384 12-12S18.616 0 12 0zm5.341 8.866l-7.5 7a.502.502 0 0 1-.695-.012l-2.5-2.5a.5.5 0 0 1 .707-.707l2.158 2.158 7.147-6.67a.5.5 0 1 1 .683.731z' fill='%239BD0B0' fill-rule='nonzero'/%3E%3Cpath d='M17.341 8.866l-7.5 7a.502.502 0 0 1-.695-.012l-2.5-2.5a.5.5 0 0 1 .707-.707l2.158 2.158 7.147-6.67a.5.5 0 1 1 .683.731z' fill='%233E3832'/%3E%3C/g%3E%3C/svg%3E");
                height: 24px;
                width: 24px;
                background-size: 24px;
                background-repeat: no-repeat;
                display: block;
                margin-right: 1rem;
                float: right;
            }
        }
        .lister--rad {
            overflow: hidden;
            max-height: 1.5rem;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .hent-stilling--input {
            margin-top: 2.5rem;
            .skjemaelement__input {
                margin-top: 0.5rem;
            }
        }
        .annonsenummer__search--label {
            margin: 2.5rem 0 0.5rem;
        }
        .annonsenummer__search {
            position: relative;

            .skjemaelement__input {
                width: 13.75rem;
            }
            .typo-normal {
                margin-top: 0.5rem;
                width: 31rem;
                color: @redError;
            }
        }
        .hentet-stilling__row {
            margin: 1rem 0 0;
            padding-top: 1rem;
            border-top: solid 2px @navGra20;
        }
        .lagre--knapp {
            margin: 2.5rem 1rem 0 0;
        }
        .avbryt--knapp {
            margin-top: 2.5rem;
        }
    }
    .LagreKandidaterModal__hjelpetekst {
        position: absolute;
        left: 0;
        height: 60px;
    }
}
