<!DOCTYPE HTML>
<html lang="nb">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="robots" content="noindex"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Kandidatsøk - Arbeidsplassen</title>

    <link type="text/css" href="/kandidater/css/sok.css?v={{{APP_VERSION}}}" rel="stylesheet"/>

    <script type="application/javascript">
        window.frontendlogger = { info: function(){}, warn: function(){}, error: function(){}, event: function(){}};
        window.frontendlogger.appname = 'pam-kandidatsok';
    </script>
    <script type="application/javascript" src="/frontendlogger/logger.js"></script>
    <script type="text/javascript" src="/kandidater/js/env.js"></script>
    <script type="text/javascript" src="/kandidater/js/googleanalytics.js"></script>

</head>
<body>
<main id="app"></main>

<script type="application/javascript" src="/kandidater/js/sok.js?v={{{APP_VERSION}}}"></script>
</body>
</html>
