.prioriterteMålgrupper {
    &__checkboksMedHjelpetekst {
        display: flex;
    }

    &__hjelpetekst {
        margin-left: 0.5rem;
    }

    &__hjelpetekst__innhold {
        max-width: 16rem !important;
    }

    &__kategoriUtenHjelpetekst.skjemaelement {
        margin-bottom: 0.5rem;
    }
}
