@import '../../variabler';

.cv-header {
    background-color: #e3edf8;
    padding: 1.25rem 2rem 2rem;
    margin-bottom: 2.5rem;

    &__inner {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: @kandidatsok-innhold-bredde;
        margin: 0 auto;
        position: relative;
    }

    &__tilbakeknapp {
        width: @kandidatsok-sidepanel-bredde;
        margin-right: 3rem;
        margin-bottom: 1rem;
    }

    &__epost {
        color: #8c368e;
    }

    &__kontaktinfo > * {
        &:not(:last-child)::after {
            content: '|';
            margin: 0 0.5rem;
        }
    }

    &__forrige-neste-knapper {
        position: absolute;
        top: 0px;
        right: 0px;
        margin-top: 0rem;
    }

    @media (min-width: 1281px) {
        margin-bottom: 2.5rem;

        &__inner {
            flex-direction: row;
        }
    }
}
