.kandidatlisteknapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.knapp {
    display: flex;
    align-items: center;
    color: var(--a-surface-action);
    height: 2rem;
    padding: 0 0.25rem;
    line-height: 1;
    margin-left: 1rem !important;
}

.venstre {
    display: flex;
}

.høyre {
    display: flex;
    align-items: initial;
}

.knapperadKnapp:not(:hover, :active, :focus) .knapperadIkonFylt {
    display: none;
}

.knapperadKnapp:is(:hover, :active, :focus) .knapperadIkonIkkeFylt {
    display: none;
}

.knapperadIkon {
    margin-right: 0.5rem;
}
