@import '../variabler.less';

.footer {
    background-color: white;
    padding: 1rem 0;

    &--grå {
        background-color: @navLysGra;
    }

    &__nav-logo {
        display: inline-block;
        border-bottom: none !important;

        svg {
            width: 5rem;
            height: 5rem;
        }
    }
}
