.endre-midlertidig-utilgjengelig {
    &__tittel {
        padding-bottom: 1rem;
    }

    &__fieldset {
        border: none;
        margin-top: 2rem;
        padding: 0;
    }

    &__radio {
        margin-top: 0.5rem;
    }

    &__avbryt {
        margin-left: 0.5rem;
        margin-top: 2rem;
    }

    &__datovelger {
        margin-top: 1rem;
    }
}
