.midlertidig-utilgjengelig-knapp {
    padding: 0.5rem 1rem;
    background-color: #cde7d8;
    border: 1px solid #06893a;
    border-radius: 0.25rem;
    cursor: pointer;
    fill: black;
    stroke: black;

    &__ikon {
        margin-right: 0.25rem;
    }

    &:hover {
        color: white;
        background-color: #06893a;

        fill: white;
        stroke: white;
    }

    &__chevron {
        margin-left: 0.5rem;
    }
}
