.modal {
    max-width: 40rem;
    min-height: 20rem;
}

.advarsel {
    margin-bottom: 1.5rem;
}

.folkeregisterInfo {
    margin: 0 0 1.5rem;
}

.fødselsnummer {
    margin-bottom: 1.5rem;
}

.fødselsnummer input {
    width: unset;
}

.forklaring ul {
    margin-bottom: 0;
}

.knapper {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}
