@import '../../node_modules/nav-frontend-core/less/_variabler.less';

/* Variables */
@color-green: @navGronn;
@color-blue: @navBla;
@background-green: #E5F3EB;
@link-color: #000000;

.search-input input {
  display: block;
  height: 3.25rem;
  padding-left: 1.25rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g stroke="#000" stroke-linejoin="round" stroke-miterlimit="10" fill="none"><circle cx="8.5" cy="8.5" r="8"/><path stroke-linecap="round" d="M14.156 14.156l9.344 9.344"/></g></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  border-radius: 0;
  border: solid 1px @color-blue;
  max-width: 720px;
}

.search-page {
  margin-top: 4rem;
}


#kart-lenke {
  margin-top: 0.8rem;
}

#antall-treff-counter,
#kart-lenke {
  line-height: 2.225rem;
  color: @link-color;

  &:hover {
    border-bottom: 1px solid @link-color;
  }
}

#search-result-pagination {
  text-align: center;
}

#search-result-pagination .knapp:not(:last-child) {
  margin-right: 1rem;
}

.search-result-couunt-wrapper,
#search-form-fritekst-input-wrapper {
  height: 5rem;
  position: relative;
}

#search-form-fritekst-input-wrapper {
  padding-top: 0.5rem;
}

#search-form-fritekst-input {
  margin: 0.5rem 0 0 0;
  width: 100%;
}

.search-button {
  padding: 0 1rem 0 1rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  top: 9px;
  right: 1px;
  position: absolute;
  border: none;
}

.search-button:hover,
.search-button:active {
  background-color: @navGronn;
}

.search-button__icon {
  width: 32px;
  height: 32px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cg stroke='%23000' stroke-linejoin='round' stroke-miterlimit='10' fill='none'%3E%3Ccircle cx='8.5' cy='8.5' r='8'/%3E%3Cpath stroke-linecap='round' d='M14.156 14.156l9.344 9.344'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.search-button:hover .search-button__icon,
.search-button:active .search-button__icon  {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cg stroke='%23fff' stroke-linejoin='round' stroke-miterlimit='10' fill='none'%3E%3Ccircle cx='8.5' cy='8.5' r='8'/%3E%3Cpath stroke-linecap='round' d='M14.156 14.156l9.344 9.344'/%3E%3C/g%3E%3C/svg%3E");
}

.resultat {
  list-style: none;
  padding: 0;
}

.search-result-item {
  display: flex;
  .typo-normal::first-letter {
    text-transform: capitalize;
  }
}

.search-result-item__arbeidstaker {
  align-self: center;
  text-align: center;
  padding: 0 2rem;
}

.search-result-item-link {
  background-color: #fff;
  padding: 1rem;
  display: block;
  text-decoration: none;
  color: @link-color;
  border: 1px solid #e9e7e7;
  margin-bottom: 1rem;

  &:focus {
    outline: 4px solid @navOransjeLighten40;
    border-color: transparent;
  }

  &:hover {
    outline: 2px solid @navGronnLighten40;
    color: @navGronn;
    border-color: transparent;
  }

}

.search-page-header {
  background-color: @background-green;
  margin-top: -2.225rem;
  padding-bottom: 11.25rem;
}

#search-result-count {
  margin-top: 0.8rem;
  color: @color-green;
}

.search-page-select {
  margin-top: -0.5rem;
}

.search-page-filter {
  padding: 0.5rem;
}

.search-page-filter:not(:last-child) {
  border-bottom: none;
}

.skjemaelement__input {
  border: 1px solid @color-blue;

  &:hover {
    border-color: @navBlaDarken40;
  }
}

.filter-municipals {
  margin-left: 2rem;
}

.bilde__muted {
  opacity: 0.2;
}

.typeahead {
  position: relative;
  margin-top: -0.5rem;
}

.typeahead ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid @color-blue;
  border-top: none;
  box-shadow: 0px 5px 15px -5px @navGra60;
  overflow: auto;
}

.typeahead ul li {
  display: block;
  clear: both;
  line-height: 1.15rem;
  // line-height: 1.75rem;
  color: #333;
  // white-space: nowrap;
  font-size: initial;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.typeahead-suggestions-hidden {
  display: none;
}

.typeahead .typetext {
  display: block;
  width: 100%;
  // padding: 0px 10px;
  padding: 3px 10px;
}

.typeahead .active {
  color: #fff;
  background-color: @color-blue;
}

.typeahead-substring {
  font-weight: bold;
}


#no-results {
  background: #fff;
  padding: 4rem;
  text-align: center;
  border: 1px solid #e9e7e7;
}

.panel--sokekriterier {
  margin: 1rem 0 2rem;
}

.panel--gray-border {
  border-radius: 0;
  border: 1px solid #e9e7e7;
}

@media (min-width: @screen-sm-min) {
  .panel--padding {
    padding: 1.5rem 3rem;
  }
}

/*
 * The lines below are for the Front page.
 */

.ny-annonse:before {
  content: ' ';
  width: 100%;
  height: 4rem;
  display: block;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 24 24'%3E%3Cg stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' fill='none'%3E%3Cpath d='M.513.5h23v23h-23zM6.513 5.5h4M3.513 8.5h7M3.513 11.5h7M3.513 14.5h17M3.513 17.5h12'/%3E%3Cpath d='M12.513 3.5h8v8h-8z'/%3E%3C/g%3E%3C/svg%3E") top center no-repeat;
}

.kandidatsok:before {
  content: ' ';
  width: 100%;
  height: 4rem;
  display: block;
  background: url("data:image/svg+xml,%3Csvg width='46px' height='36px' viewBox='0 0 46 36' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg id='Min-side' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='Arbeidsgiver_vaar-side' transform='translate(-802.000000, -276.000000)' fill='%233E3832'%3E %3Cg id='icon/line/-account-group-2' transform='translate(802.000000, 276.000000)'%3E %3Cg id='account-group-2'%3E %3Cpath d='M20.125,20.2035789 L20.125,17.5831579 C20.8360833,17.0412632 21.8806667,15.7774737 22.0244167,12.9789474 C22.8236667,12.4541053 23.2798333,11.2831579 23.2798333,10.1406316 C23.2798333,9.50968421 23.1341667,8.94505263 22.85625,8.51115789 C22.7259167,8.30463158 22.5668333,8.12842105 22.3866667,7.98821053 C22.8083333,7.01621053 23.4216667,5.34694737 22.97125,3.55831579 C22.3080833,0.932210526 18.95775,0 16.2916667,0 C13.9188333,0 11.0016667,0.738947368 9.92258333,2.75684211 C8.7515,2.72084211 8.13816667,3.21157895 7.85641667,3.63410526 C7.05333333,4.83157895 7.79891667,6.68273684 8.349,7.96736842 C8.14966667,8.11326316 7.97716667,8.29705263 7.83341667,8.51684211 C7.54783333,8.95831579 7.3945,9.53052632 7.3945,10.1747368 C7.3945,11.304 7.84683333,12.4616842 8.64033333,12.9808421 C8.78408333,15.7793684 9.82866667,17.0431579 10.53975,17.5850526 L10.53975,20.2054737 C6.946,21.6511579 0,24.6884211 0,26.5263158 L0,35.0526316 C0,35.5755789 0.429333333,36 0.958333333,36 L29.7083333,36 C30.2373333,36 30.6666667,35.5755789 30.6666667,35.0526316 L30.6666667,26.5263158 C30.6666667,24.6884211 23.7206667,21.6511579 20.125,20.2035789 Z M28.75,34.1052632 L1.91666667,34.1052632 L1.91666667,26.7252632 C2.65841667,25.9143158 6.90958333,23.6766316 11.8565,21.7212632 C12.2206667,21.5772632 12.4583333,21.2305263 12.4583333,20.8421053 L12.4583333,17.0526316 C12.4583333,16.6812632 12.19575,16.3269474 11.8545833,16.1734737 C11.8411667,16.1658947 10.5416667,15.5444211 10.5416667,12.3157895 C10.5416667,11.7928421 10.2273333,11.3949474 9.69833333,11.3949474 C9.47983333,11.2471579 9.17891667,10.332 9.37633333,9.70105263 C9.44725,9.47368421 9.50666667,9.47368421 9.58333333,9.47368421 C10.1123333,9.47368421 10.5416667,9.04926316 10.5416667,8.52631579 C10.5416667,8.22315789 10.419,7.93705263 10.1755833,7.36863158 C9.36866667,5.48905263 9.338,4.86947368 9.4415,4.69326316 C9.4415,4.69326316 9.79991667,4.608 10.35,4.71789474 C10.8675,4.82021053 11.3485833,4.51326316 11.4731667,4.01873684 C11.78175,2.78905263 13.8095833,1.89473684 16.2916667,1.89473684 C18.77375,1.89473684 20.8015833,2.78905263 21.1120833,4.01873684 C21.4609167,5.39242105 20.85525,6.73768421 20.4949167,7.54294737 C20.30325,7.96736842 20.18825,8.22315789 20.18825,8.52631579 C20.18825,9.04926316 20.6750833,9.47936842 21.2021667,9.47936842 C21.2443333,9.50589474 21.3593333,9.70673684 21.3631667,10.116 C21.3689167,10.7677895 21.1063333,11.3021053 21.0833333,11.3684211 C20.5543333,11.3684211 20.125,11.7928421 20.125,12.3157895 C20.125,15.5235789 18.84275,16.1583158 18.8504167,16.1583158 C18.4670833,16.2909474 18.2083333,16.6509474 18.2083333,17.0526316 L18.2083333,20.8421053 C18.2083333,21.2305263 18.446,21.5772632 18.8101667,21.7212632 C23.7551667,23.6766316 28.00825,25.9124211 28.75,26.7252632 L28.75,34.1052632 Z' id='Shape' fill-rule='nonzero'%3E%3C/path%3E %3Cpath d='M40.1254167,23.0930526 C39.22075,22.7709474 38.2815833,22.4355789 37.375,22.0907368 L37.375,20.4650526 C38.0899167,19.9951579 39.1134167,18.9397895 39.2705833,16.7058947 C39.9203333,16.1658947 40.25575,15.0688421 40.25575,13.9812632 C40.25575,13.5549474 40.19825,12.9353684 39.928,12.4010526 C39.8398333,12.2248421 39.7325,12.0694737 39.61175,11.9349474 C40.0794167,11.0917895 40.7004167,9.70863158 40.2020833,8.22505263 C39.50825,6.17494737 36.6965,5.44736842 34.5,5.44736842 C32.5814167,5.44736842 30.1951667,6.00252632 29.1601667,7.50884211 C28.4069167,7.48421053 27.8606667,7.70778947 27.4735,8.16063158 C26.6205833,9.15536842 27.1553333,10.7545263 27.5655,11.8269474 C27.4006667,11.9785263 27.2588333,12.1661053 27.1438333,12.384 C26.8659167,12.9164211 26.8084167,13.536 26.8084167,13.9623158 C26.8084167,15.0612632 27.1515,16.1715789 27.8108333,16.7115789 C27.9699167,18.9435789 28.9915,19.9951579 29.7064167,20.4650526 L29.7064167,21.7894737 C29.7064167,22.3124211 30.13575,22.7368421 30.66475,22.7368421 C31.19375,22.7368421 31.6230833,22.3124211 31.6230833,21.7894737 L31.6230833,19.8947368 C31.6230833,19.4930526 31.3355833,19.1235789 30.9503333,18.9909474 C30.9024167,18.9738947 29.7083333,18.5305263 29.7083333,16.1052632 C29.7083333,15.6618947 29.4016667,15.2905263 28.98575,15.1863158 C28.7078333,14.7675789 28.6139167,13.4981053 28.75,13.2631579 C29.279,13.2631579 29.7083333,12.8387368 29.7083333,12.3157895 C29.7083333,12.0562105 29.6144167,11.8174737 29.44575,11.3835789 C29.0145,10.2770526 28.84775,9.59494737 28.888,9.42252632 C28.888,9.42252632 29.0375,9.35810526 29.51475,9.45473684 C30.0015833,9.55326316 30.4635,9.28231579 30.6168333,8.82568421 C30.9005,7.98063158 32.5718333,7.34210526 34.4980833,7.34210526 C36.4243333,7.34210526 38.0956667,7.98063158 38.3793333,8.82568421 C38.6879167,9.73894737 38.0956667,10.7488421 37.7410833,11.3513684 C37.51875,11.7303158 37.3730833,11.9804211 37.3730833,12.3157895 C37.3730833,12.8387368 37.6529167,13.2025263 38.1838333,13.2025263 C38.4349167,13.4886316 38.35825,14.7656842 38.0899167,15.1882105 C37.67975,15.2943158 37.375,15.6656842 37.375,16.1052632 C37.375,18.5305263 36.1809167,18.9738947 36.1579167,18.9833684 C35.7439167,19.0970526 35.4583333,19.4703158 35.4583333,19.8947368 L35.4583333,22.7368421 C35.4583333,23.1252632 35.696,23.472 36.0601667,23.616 C37.1641667,24.0517895 38.34675,24.4743158 39.47375,24.876 C41.1815,25.4823158 43.4795833,26.3008421 44.0814167,26.7650526 L44.0814167,34.1052632 L34.4980833,34.1052632 C33.9690833,34.1052632 33.53975,34.5296842 33.53975,35.0526316 C33.53975,35.5755789 33.971,36 34.5,36 L45.0416667,36 C45.5706667,36 46,35.5755789 46,35.0526316 L46,26.5263158 C46,25.2341053 44.30375,24.5804211 40.1254167,23.0930526 Z' id='Shape' fill-rule='nonzero'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E") top center no-repeat;
}

.soknader:before {
  content: ' ';
  width: 100%;
  height: 4rem;
  display: block;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 24 24'%3E%3Cg stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' fill='none'%3E%3Cpath d='M19.5 8.75l4 2.75v10.5c0 .828-.672 1.5-1.5 1.5h-20c-.828 0-1.5-.672-1.5-1.5v-10.5l4-2.75M3.5 20.5l5-4h7l5 4M23.5 11.5l-6 4M.5 11.5l6 4M19.5 14v-13.5h-15v13.5M7.5 3.5h2M9.5 6.5h7M7.5 9.5h9M7.5 12.5h9'/%3E%3C/g%3E%3C/svg%3E") top center no-repeat;
}

.fastesok:before {
  content: ' ';
  width: 100%;
  height: 4rem;
  display: block;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 24 24'%3E%3Cg stroke='%23000' stroke-linejoin='round' stroke-miterlimit='10' fill='none'%3E%3Ccircle cx='8.5' cy='8.5' r='8'/%3E%3Cpath stroke-linecap='round' d='M14.156 14.156l9.344 9.344'/%3E%3C/g%3E%3C/svg%3E") top center no-repeat;
}

.box {
  background-color: #fff;
  padding: 1.5rem 1.1rem;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 20px;
}

.container-width {
  max-width: 700px;
}

.wrench:before {
  content: ' ';
  width: 100%;
  height: 2.5rem;
  display: block;
  background: url("data:image/svg+xml,%3Csvg width='32px' height='32px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Ikoner-+-logoer' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linejoin='round'%3E%3Cg id='Skiftenokkel' stroke='%23000000'%3E%3Cpath d='M21.7778668,12.0952078 C23.8228899,10.0491847 24.2178943,6.97315003 22.9678802,4.53012245 L19.6568429,7.83115971 L16.9928128,7.83115971 L16.9928128,5.02312801 L20.2218492,1.71109063 C17.7798217,0.462076527 14.6717866,0.858080997 12.6267635,2.90210407 C10.5827404,4.94512713 10.1657357,8.01316177 11.4157498,10.4551893 L1.5886389,20.2753002 C0.807630086,21.054309 0.801630018,22.3203233 1.58363885,23.1013321 C2.36464766,23.8823409 3.62866193,23.8823409 4.40967075,23.1013321 L14.2257816,13.2832213 C16.6688091,14.5332354 19.7348437,14.1382309 21.7778668,12.0952078 L21.7778668,12.0952078 Z' id='Stroke-3354'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") top center no-repeat;
}
