@import '../../node_modules/nav-frontend-core/less/_variabler.less';

/* Variables */
@color-green: @navGronn;
@background-green: #E5F3EB;
@link-color: #000000;

.search-input input {
  display: block;
  height: 3.25rem;
  padding-left: 1.25rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g stroke="#000" stroke-linejoin="round" stroke-miterlimit="10" fill="none"><circle cx="8.5" cy="8.5" r="8"/><path stroke-linecap="round" d="M14.156 14.156l9.344 9.344"/></g></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  border-radius: 0;
  border: solid 1px @color-green;
  max-width: 720px;
}


#kart-lenke {
  margin-top: 0.8rem;
}

#antall-treff-counter,
#kart-lenke {
  line-height: 2.225rem;
  color: @link-color;

  &:hover {
    border-bottom: 1px solid @link-color;
  }
}

#search-result-pagination {
  text-align: center;
}

#search-result-pagination .knapp:not(:last-child) {
  margin-right: 1rem;
}

.search-result-couunt-wrapper,
#search-form-fritekst-input-wrapper {
  height: 5rem;
  position: relative;
}

#search-form-fritekst-input-wrapper {
  padding-top: 0.5rem;
}

#search-form-fritekst-input {
  margin: 0.5rem 0 0 0;
  width: 100%;
}

.search-button {
  padding: 0 1rem 0 1rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  top: 9px;
  right: 1px;
  position: absolute;
  border: none;
}

.search-button:hover,
.search-button:active {
  background-color: @navGronn;
}

.search-button__icon {
  width: 32px;
  height: 32px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cg stroke='%23000' stroke-linejoin='round' stroke-miterlimit='10' fill='none'%3E%3Ccircle cx='8.5' cy='8.5' r='8'/%3E%3Cpath stroke-linecap='round' d='M14.156 14.156l9.344 9.344'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.search-button:hover .search-button__icon,
.search-button:active .search-button__icon  {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cg stroke='%23fff' stroke-linejoin='round' stroke-miterlimit='10' fill='none'%3E%3Ccircle cx='8.5' cy='8.5' r='8'/%3E%3Cpath stroke-linecap='round' d='M14.156 14.156l9.344 9.344'/%3E%3C/g%3E%3C/svg%3E");
}

.resultat {
  list-style: none;
}

.search-result-item {
  background-color: #fff;
  padding: 1rem;
  display: block;
  text-decoration: none;
  color: #000;
  border: 1px solid #e9e7e7;
  margin-bottom: 1rem;
  .typo-normal::first-letter {
    text-transform: capitalize;
  }
}

.search-result-item__arbeidstaker {
  align-self: center;
  text-align: center;
}

.search-result-item-link {
  background-color: #fff;
  padding: 1rem;
  display: block;
  text-decoration: none;
  color: @link-color;
  border: 1px solid #e9e7e7;
  margin-bottom: 1rem;

  &:focus {
    outline: 4px solid @navOransjeLighten40;
    border-color: transparent;
  }

  &:hover {
    outline: 2px solid @navGronnLighten40;
    color: @navGronn;
    border-color: transparent;
  }

}

.search-page-header {
  background-color: @background-green;
  margin-top: -2.225rem;
  padding-bottom: 11.25rem;
}

.search-page-margin {
  margin-top: -7rem;
  margin-bottom: 6rem;
}

#search-result-count {
  margin-top: 0.8rem;
  color: @color-green;
}

.search-page-select {
  margin-top: -0.5rem;
}

.kandidatsok-filter {
  padding: 0.5rem;
}

.kandidatsok-filter:not(:last-child) {
  border-bottom: none;
}

.skjemaelement__input {
  border: 1px solid @color-green;

  &:hover {
    border-color: @navGronnDarken40;
  }
}

.filter-municipals {
  margin-left: 2rem;
}

.bilde__muted {
  opacity: 0.2;
}

.typeahead {
  position: relative;
  margin-top: -0.5rem;
}

.typeahead ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid @navGronn;
  border-top: none;
  box-shadow: 0px 5px 15px -5px @navGra60;
  overflow: auto;
}

.typeahead ul li {
  display: block;
  clear: both;
  line-height: 1.75rem;
  color: #333;
  white-space: nowrap;
  font-size: initial;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.typeahead-suggestions-hidden {
  display: none;
}

.typeahead .typetext {
  display: block;
  width: 100%;
  padding: 0px 10px;
}

.typeahead .active {
  color: #fff;
  background-color: @navGronn;
}

.typeahead-substring {
  font-weight: bold;
}


#no-results {
  background: #fff;
  padding: 4rem;
  text-align: center;
  border: 1px solid #e9e7e7;
}
