@import '../../Variables';

.filter--aktuelle--kandidater {
  border: none;
  padding: 0;
  background-color: #FFF;
}

button.filter--aktuelle--kandidater {
  :hover {
    color: rgb(0, 103, 197);
    cursor: pointer;
  }
}

.filter--lengde--erfaring {
  padding-right: 0 !important;
  padding-left: 2rem !important;
  float: right !important;
}

.label--resultatvisning {
  display: inline-block;
  margin-right: 0.5rem;
}

@media (max-width: @screen-md-max) {
  .lenke--kandidatnr--wrapper {
    padding-left: 0 !important;
  }
}

.lenke--kandidatnr {
  display: table;
}

.kandidater--row {
  width: 100%;
  padding-bottom: 1rem;
  &:not(:first-child) {
    padding-top: 1rem;
    border-top: solid 1px rgba(120, 112, 106, 0.5);
    border-radius: 0;
  }
}

.no--padding {
  padding: 0 !important;
}

.yrkeserfaring, .utdanning, .lengdeYrkeserfaringTekst {
  padding: 0 0.5rem 0 1rem;
  text-align: left;
  color: black;
}

.score {
  padding: 0 0.5rem 0 1rem;
  text-align: left;
  color: black;
}

.border--vertical {
  border-left: 1px solid #b7b1a9;
  height: 21px;
  float: left;
}
