@import '../../Variables';

.filter--aktuelle--kandidater {
  border: none;
  padding: 0;
  background-color: #FFF;
  &:hover {
    color: rgb(0, 103, 197);
    cursor: pointer;
  }
}

.label--resultatvisning {
  display: inline-block;
  margin-right: 0.5rem;
}

