@import '../../Variables';

.filter--aktuelle--kandidater {
  border: none;
  padding: 0;
  background-color: #FFF;
}

button.filter--aktuelle--kandidater {
  :hover {
    color: rgb(0, 103, 197);
    cursor: pointer;
  }
}

.filter--lengde--erfaring {
  padding-right: 0 !important;
  padding-left: 2rem !important;
  float: right !important;
  button {
    color: @navMorkGra;
  }
}

.label--resultatvisning {
  display: inline-block;
  margin-right: 0.5rem;
}

@media (max-width: @screen-md-max) {
  .lenke--kandidatnr--wrapper {
    padding-left: 0 !important;
  }
}

.lenke--kandidatnr {
  color: @navBla;
  display: table;
}

.kandidater--row {
  display: inline-flex;
  align-items: center;
  width: 100%;
  //height: 4rem;
  margin-top: 0.5rem;
  background-color: white;
  padding: 0.75rem;
  border: solid 1px #d8d8d8;
  border-radius: 4px;

  .skjemaelement {
    margin: 0;
  }

  * > {
    position: relative;
    top: 0;
    bottom: 0;
  }

  .utdanning {
    overflow: hidden;
    max-lines: 2;
    text-overflow: ellipsis;
  }
}

.no-padding {
  padding: 0 !important;
}

.yrkeserfaring, .utdanning, .lengdeYrkeserfaringTekst {
  padding: 0 0.5rem 0 0;
  text-align: left;
  color: @navMorkGra;
}

.score {
  padding: 0 0.5rem 0 1rem;
  text-align: left;
  color: @navMorkGra;
}

.border--vertical {
  border-left: 1px solid #b7b1a9;
  height: 21px;
  float: left;
}
