@import '../../../variabler';

.midlertidig-utilgjengelig-knapp {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-right: 1rem;

    &--tilgjengelig {
        &.midlertidig-utilgjengelig-knapp {
            background-color: inherit;
            border: 2px solid transparent;
            color: @navBla;

            &:hover {
                border: 2px solid @navBla;
                color: @navBla;
                fill: @navBla;
                stroke: @navBla;
            }
        }

        .midlertidig-utilgjengelig-knapp {
            &__tekst {
                font-size: 1rem;
                font-weight: bold;
                font-family: 'Source Sans Pro', Arial, sans-serif;
                letter-spacing: 0.0625em;
            }
        }
    }

    &--tilgjengeliginnen1uke {
        background-color: @tilgjengeligBakgrunn;
        border: 2px solid @tilgjengeligBorder;

        &:hover {
            background-color: @tilgjengeligBakgrunn;

            svg g {
                stroke: white;
            }
        }
    }

    &--midlertidigutilgjengelig {
        background-color: @rekrutteringsbistandBla;
        border: 2px solid @navBla;

        &:hover {
            background-color: @navBla;

            svg path {
                fill: white;
            }
        }
    }

    &__ikon {
        margin-right: 0.25rem;
    }

    &:hover {
        color: white;
    }

    &__chevron {
        margin-left: 0.5rem;
    }
}
