@import '../../variabler.less';

.combobox {
    width: 100%;

    [data-reach-combobox-option] {
        padding: 0.5rem;

        &:hover {
            background-color: @navBlaLighten80;
        }
    }
}
