.kandidat-last-ned-cv {
    display: flex;
    width: 40rem;
    margin: 0 auto;
    justify-content: center;
    font-family: 'Source Sans Pro', Arial, sans-serif;

    &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.25rem;
    }

    &__lenker {
        display: flex;
        .frittstaende-lenke {
            padding-bottom: 2px;
            margin-right: 2rem;
        }
    }
}
