.sorterbarKolonneheader {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

.sorterbarKolonneheader:focus {
    background-color: var(--a-surface-action-active);
    color: white;
}

.sorterbarKolonneheaderTekst {
    padding-right: 0.5rem;
}
