.tilretteleggingsbehov {
    &__informasjon {
        display: flex;
        margin-top: 1rem;

        svg {
            margin-right: 0.5rem;
        }

        .typo-normal {
            flex: 1;
        }
    }
}
