.Notater {
  border-top: 2px solid #dbdbdb;
  margin-top: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  .Notater-overskrift {
    padding-bottom: 1.25rem;
  }
  .Notater-beskrivelse {
    padding-bottom: 1.25rem;
  }
}

.RedigerNotat {
  .RedigerNotat-tekstfelt {
    min-height: 7rem;
  }
  .RedigerNotat-hovedknapp {
    margin-right: 1rem;
  }
}

.NotatModal {
  width: 40rem;
  padding: 1rem;

  .NotatModal-tittel {
    margin-bottom: 2rem;
  }

  .RedigerNotat-tekstfelt {
    margin-bottom: 2.5rem;
  }
}
