@import '../../../../felles/Variables';

.match-score {
  div:not(:last-child) {
    margin-right: 4px;
  }
}
.scoreIcon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: solid 1px @blueDarken;
  transform: rotate(-315deg);
}

.scoreIcon--filled {
  .scoreIcon;
  background-color: @blueDarken;
}