@import '../../variabler';

.midlertidig-utilgjengelig {
    .popover__pil {
        background-color: @navLysBlaLighten80;
    }

    &__popup-innhold {
        padding: 2rem;
        background-color: @navLysBlaLighten80;
        max-width: 26rem;
    }

    &__chevron {
        margin-left: 0.5rem;
    }

    &__ikon {
        margin-right: 0.25rem;
    }
}
