@import '../../variabler';

.midlertidig-utilgjengelig {
    .popover__pil {
        background-color: @navLysBlaLighten80;
    }
    &__popup-innhold {
        padding: 2rem;
        background-color: @navLysBlaLighten80;
        max-width: 26rem;
    }

    &__chevron {
        margin-left: 0.5rem;
    }

    &__datovelger {
        margin: 1rem 0 2rem;
    }

    &__datovelger-label {
        margin-bottom: 0.5rem;
    }

    &__avbryt {
        margin-left: 0.5rem;
    }

    &__ikon {
        margin-right: 0.25rem;
    }

    .nav-datovelger {
        margin-top: 0.5rem;
    }
}
