.visKandidatTilretteleggingsbehov {
    &__innhold {
        margin-left: 1rem;
    }

    &__informasjon {
        margin-bottom: 1rem;
    }

    &__lenke {
        margin-bottom: 1.5rem;

        .frittstaende-lenke {
            display: inline;
        }
    }
}
