.kandidatliste-filter {
    min-width: 13rem;

    &__checkbox.skjemaelement:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    .ekspanderbartPanel:not(:last-child) {
        margin-bottom: 1rem;
    }

    .ekspanderbartPanel__innhold {
        padding-bottom: 1.25rem;
        display: flex;
        flex-direction: row;
    }

    &__filter {
        flex: 1;

        &:last-child {
            flex: 3;
        }
    }

    @media (min-width: 1280px) {
        &__filter {
            margin-right: 0;
        }

        .ekspanderbartPanel__innhold {
            flex-direction: column;
        }
    }
}
