.formidling-av-usynlig-kandidatrad {
    border: 1px solid #b7b1a9;
    border-radius: 4px;
    background-color: #e3edf8;
    margin-top: 0.5rem;

    height: 4.5rem;
    display: grid;
    padding-left: 1.25rem;
    padding-right: 0.5rem;
    grid-gap: 1rem;
    grid-template-columns: minmax(0, 3.6fr) minmax(0, 9fr) minmax(0, 31fr) minmax(0, 20fr);

    * > {
        display: flex;
        align-items: center;
    }

    &__utfall {
        padding-left: calc(0.5rem + 1px);
    }
}
