@import '../../variabler.less';

.formidling-av-usynlig-kandidatrad {
    border: 1px solid @navGra40;
    border-radius: 4px;
    background-color: @navBlaLighten80;
    margin-top: 0.5rem;
    height: 4.5rem;
    display: grid;
    padding-left: 1.25rem;
    padding-right: 0.5rem;
    grid-gap: 1rem;
    grid-template-columns: minmax(0, 3.6fr) minmax(0, 9fr) minmax(0, 31fr) minmax(0, 9fr) minmax(
            0,
            10fr
        );

    &--lukket-liste {
        background-color: unset;
        grid-template-columns: minmax(0, 3.6fr) minmax(0, 9fr) minmax(0, 31fr) minmax(0, 9fr) minmax(
                0,
                6fr
            );
    }

    * > {
        display: flex;
        align-items: center;
    }
}
