@import 'src/variabler.less';

.Kandidatlister {
    font-family: 'Source Sans Pro', Arial, sans-serif;

    .kandidatlister-wrapper {
        display: grid;
        grid-template-areas:
            'over-liste'
            'filter'
            'liste'
            'under-liste';
        gap: 1rem;

        margin: 0 auto;
        padding: 0 2rem;
    }

    .kandidatlister-filter {
        grid-area: filter;
    }

    .kandidatlister-table--top {
        grid-area: over-liste;
        margin-top: 2.5rem;
    }

    .kandidatlister-table {
        grid-area: liste;
        margin-bottom: 2rem;
    }

    .kandidatlister-table--bottom {
        grid-area: under-liste;
        text-align: center;

        .kandidatlister-table--bottom__buttons {
            margin-top: 1rem;
        }
    }

    @media (min-width: 1280px) {
        .kandidatlister-wrapper {
            display: grid;
            grid-template-areas:
                'over-filter over-liste'
                'filter liste'
                'under-filter under-liste';
            grid-column-gap: 3rem;
            grid-template-columns: 13rem auto;
        }

        .kandidatlister-wrapper {
            max-width: 99.5rem;
        }
    }
}

.modal--opprett-kandidatliste__veileder {
    max-width: 40rem;

    .OpprettKandidatlisteForm {
        input {
            padding: 0.75rem;
        }

        textarea {
            padding: 0.75rem;
            min-height: 8.25rem;
        }

        & .OpprettKandidatlisteForm__typeahead {
            .search-button__icon {
                width: 28px;
                height: 28px;
            }

            ul {
                max-height: 17rem;
            }

            .OpprettKandidatlisteForm__bedrift {
                margin-top: 0.5rem;
            }
        }
    }

    .OpprettKandidatlisteForm__input {
        margin-bottom: 2rem;

        .skjemaelement__label {
            margin-bottom: 0.5rem;
        }
    }

    .knapp--avbryt {
        margin-left: 1rem;
    }
}

.modal--marker-kandidatliste-som-min {
    width: 640px;

    &.modal {
        // Overriding av nav-frontend
        padding: 2rem;
    }
    .marker-som-min__avbryt {
        margin-left: 1rem;
    }
}
