.modal--opprett-kandidatliste__veileder {
    max-width: 40rem;

    .OpprettKandidatlisteForm {
        input {
            padding: 0.75rem;
        }

        textarea {
            padding: 0.75rem;
            min-height: 8.25rem;
        }

        & .OpprettKandidatlisteForm__typeahead {
            .search-button__icon {
                width: 28px;
                height: 28px;
            }

            ul {
                max-height: 17rem;
            }

            .OpprettKandidatlisteForm__bedrift {
                margin-top: 0.5rem;
            }
        }
    }

    .OpprettKandidatlisteForm__input {
        margin-bottom: 2rem;

        .skjemaelement__label {
            margin-bottom: 0.5rem;
        }
    }

    .knapp--avbryt {
        margin-left: 1rem;
    }
}

.modal--marker-kandidatliste-som-min {
    width: 640px;

    &.modal {
        // Overriding av nav-frontend
        padding: 2rem;
    }
    .marker-som-min__avbryt {
        margin-left: 1rem;
    }
}
