.modal--marker-kandidatliste-som-min {
    width: 640px;

    &.modal {
        // Overriding av nav-frontend
        padding: 2rem;
    }
    .marker-som-min__avbryt {
        margin-left: 1rem;
    }
}
