@import '../../../variabler.less';

.tilgjengelighet-flagg {
    &__ikon {
        transform: scale(1.7);
    }

    &__popover {
        .popover__pil {
            background-color: @navLysBlaLighten80;
        }
    }

    &__popover-innhold {
        padding: 1rem;
        background-color: @navLysBlaLighten80;
    }

    &__knapp {
        cursor: pointer;
        background: none;
        border: none;
    }
}
