.midlertidig-utilgjengelig-search {

    .midlertidig-utilgjengelig-search {
        // Dobbel selector for å overskrive margin fra nav-frontend
        &__undertittel {
            margin-top: -0.5rem;
            margin-bottom: 0.5rem;
        }
    }

    &__checkbox:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    &__flagg--snart-tilgjengelig {
        margin-left: 1rem;
        stroke: black;
        transform: scale(1.7);
    }

    &__flagg--utilgjengelig {
        margin-left: 1rem;
        transform: scale(1.7);
    }
}



#Tilgjengelighet__SokekriteriePanel-innhold {
    .skjemagruppe.midlertidig-utilgjengelig-search {
        margin-top: 1.5rem;
    }

    .skjemaelement.midlertidig-utilgjengelig-search__checkbox {
        margin-bottom: 0.5rem;
    }
    
    .skjemaelement.oppstartstidspunkt-search__checkbox {
        margin-bottom: 0.5rem;
    }
}

