apiVersion: 'nais.io/v1alpha1'
kind: 'Application'
metadata:
  name: rekrutteringsbistand-kandidat
  namespace: q0
  labels:
    team: arbeidsgiver
spec:
  # prettier-ignore
  image: {{ image }}
  port: 8080
  liveness:
    path: /rekrutteringsbistand-kandidat/internal/isAlive
    initialDelay: 5
  readiness:
    path: /rekrutteringsbistand-kandidat/internal/isReady
    initialDelay: 5
  vault:
    enabled: true
  ingresses:
    - https://rekrutteringsbistand.nais.preprod.local/rekrutteringsbistand-kandidat
  env:
    - name: KANDIDATSOK_API_URL
      value: https://rekrutteringsbistand-kandidat-api.nais.preprod.local/rekrutteringsbistand-kandidat-api/rest
    - name: NODE_EXTRA_CA_CERTS
      value: /etc/ssl/ca-bundle.pem
    - name: LOGINSERVICE_VEILEDER_URL
      value: https://loginservice.nais.preprod.local/login
    - name: LOGINSERVICE_LOGOUT_VEILEDER_URL
      value: https://loginservice.nais.preprod.local/slo
    - name: LAST_NED_CV_URL
      value: https://pam-personbruker-veileder.dev.intern.nav.no/cv/pdf?fnr=
    - name: ENHETSREGISTER_API
      value: https://pam-ad-api.nais.preprod.local/search-api
    - name: PAMPORTAL_URL
      value: https://arbeidsplassen-q.nav.no/
    - name: ARBEIDSRETTET_OPPFOLGING_URL
      value: https://app-q0.adeo.no/veilarbpersonflatefs
    - name: SMS_API
      value: https://arbeidsgiver.nais.preprod.local/rekrutteringsbistand-sms/sms
    - name: MIDLERTIDIG_UTILGJENGELIG_API
      value: https://arbeidsgiver.nais.preprod.local/finn-kandidat-api/midlertidig-utilgjengelig
    - name: FORESPORSEL_OM_DELING_AV_CV_API
      value: https://foresporsel-om-deling-av-cv-api.dev.intern.nav.no
