.PresenterKandidaterModal {
    width: 640px;

    &.modal {
        padding: 2rem;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .forklaringstekst {
            margin-right: 1rem;
        }
        label.skjemaelement__label {
            margin-bottom: 0.5rem;
        }
        .skjemaelement__input {
            border: 1px solid #b7b1a9;
        }
        .mailadresser {
            .skjemaelement {
                transition: all 0.4s ease-in-out;
                margin-bottom: 0;
                max-height: 0;
                opacity: 0;
            }
            .skjemaelement.show {
                margin-bottom: 1rem;
                max-height: 100px;
                opacity: 1;
            }
        }
        .beskjed {
            min-height: 6.25rem;
        }
        .avbryt--knapp {
            margin-left: 1rem;
        }
    }
}
