.leggTilMailadressefelt {
    color: var(--a-text-action);
}

.leggTilMailadressefelt:hover {
    color: var(--a-text-action);
    background-color: inherit;
}

.leggTilMailadressefelt:active:hover {
    color: var(--a-text-action);
    background-color: inherit;
}

.knapper {
    display: flex;
    gap: 1rem;
}

.feilmelding {
    color: var(--a-text-danger);
}
