@import '../../../felles/Variables';

.typeahead {
    position: relative;

    ul {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        min-width: 100%;
        padding: 0;
        margin: 0;
        background-color: #fff;
        border: 1px solid @blueDarken;
        border-top: none;
        box-shadow: 0 5px 15px -5px @navGra60;
        overflow: auto;
        max-height: 26rem;
    }

    ul li {
        display: block;
        clear: both;
        line-height: 1.15rem;
        color: #333;
        font-size: initial;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
    }

    .skjemaelement--blue {
        &.skjemaelement__input:hover {
            border-color: @blueDarken;
        }
    }
}

.typeahead-suggestions-hidden {
    display: none;
}

.typeahead .typetext {
    display: block;
    width: 100%;
    padding: 3px 10px;
}

.typeahead .active {
    background-color: @greenLighten;
}

.typeahead-substring {
    font-weight: 600;
}
