@import 'src/variabler.less';

.side-header {
    background-color: @rekrutteringsbistandBla;
    border-bottom: 1px solid @navGra40;
    padding: 1.25rem 2rem 2rem;
    margin-bottom: 2rem;

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        margin: 0 auto;
        max-width: @kandidatsok-innhold-bredde;
        width: 100%;
    }

    &__antall-kandidater.typo-element {
        margin-bottom: 0.5rem;
    }

    &__om-kandidatlisten > * {
        &:not(:last-child)::after {
            content: '|';
            margin: 0 0.5rem;
        }
    }

    &__kandidatlistestatus {
        align-self: flex-start;
        flex-shrink: 0;
    }

    @media (min-width: @skjerm-medium) {
        &__inner {
            flex-direction: row;
        }

        &__tilbake {
            flex-shrink: 0;
            width: @kandidatsok-sidepanel-bredde;
            margin-right: 3rem;
        }

        &__tittel.typo-systemtittel {
            margin-top: 0;
        }

        .rekrutteringsbistand {
            margin-top: 0;
        }

        &__kandidatlistestatus {
            margin-left: auto;
        }
    }
}
