@import '../../../variables';

.se-flere-forslag {
    margin-top: 0.5rem;
}

.heading--kompetanse {
    text-align: left;
}

.KompetanseSearch__suggestions {
    margin-top: 1.25rem;
}

.KompetanseSearch__etikett {
    display: flex;
    align-items: center;
    border: 2px solid @navGra20;
    background-color: @navGra20;
    color: @navBlaDarken80;
    margin: 0.5rem 1rem 0 0;
    padding: 0.5rem;
    text-align: left;
    font-weight: 600;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    cursor: pointer;

    .KompetanseSearch__etikett__text {
        margin-right: 1rem;
    }

    .KompetanseSearch__etikett__icon {
        background-image: url("data:image/svg+xml,%3Csvg contentScriptType='text/ecmascript' width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23062140'%3E%3Cpath d='M11.5 0C5.159 0 0 5.159 0 11.5S5.159 23 11.5 23 23 17.841 23 11.5 17.841 0 11.5 0zm0 22C5.71 22 1 17.29 1 11.5S5.71 1 11.5 1 22 5.71 22 11.5 17.29 22 11.5 22z'/%3E%3Cpath d='M17.5 11H12V5.5a.5.5 0 0 0-1 0V11H5.5a.5.5 0 0 0 0 1H11v5.5a.5.5 0 0 0 1 0V12h5.5a.5.5 0 0 0 0-1z'/%3E%3C/g%3E%3C/svg%3E");
        width: 20px;
        height: 19px;
        background-size: 20px;
        flex: none;
    }

    &:hover {
        border-color: @navBlaDarken80;
        background-color: #ffffff;

        .KompetanseSearch__etikett__icon {
            background-image: url("data:image/svg+xml,%3Csvg contentScriptType='text/ecmascript' width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23062140' d='M19.646 3.384A11.432 11.432 0 0 0 11.499 0C5.17 0 .012 5.148 0 11.477a11.426 11.426 0 0 0 3.352 8.139A11.426 11.426 0 0 0 11.478 23h.022c6.328 0 11.487-5.149 11.499-11.479a11.422 11.422 0 0 0-3.353-8.137zM11.5 22.5zm6-10.5H12v5.5a.5.5 0 0 1-1 0V12H5.5a.5.5 0 0 1 0-1H11V5.5a.5.5 0 0 1 1 0V11h5.5a.5.5 0 0 1 0 1z'/%3E%3C/svg%3E");
        }
    }
}
