@import 'src/variabler';

.midlertidig-utilgjengelig-datovelger {
    &__label {
        margin-bottom: 0.5rem;
    }

    .nav-datovelger {
        margin: 0.5rem 0;
    }

    &__label {
        span {
            display: block;
        }
    }

    &__feilmelding {
        color: @redError;
    }
}
