@import 'src/variabler';

.historikkrad {
    &__utfall,
    &__stilling {
        white-space: nowrap;
    }

    &__slettet {
        color: @redError;
    }

    .utfall-etikett,
    .status-etikett {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }
}
