@import 'src/variabler.less';

.kandidat-jobbønsker {
    &__row {
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 1rem;
        }
    }

    &__overskrift {
        @media @mobile {
            margin-bottom: 0.5rem;
        }
    }
}
