@import '../../../felles/Variables';

.header--aktuelle--kandidater {
    border: none;
    padding: 0;
    background-color: #fff;
}

button.header--aktuelle--kandidater {
    :hover {
        color: rgb(0, 103, 197);
        cursor: pointer;
    }
}

.label--resultatvisning {
    display: inline-block;
    padding: 0 !important;
    margin: 0 !important;
}

@media (max-width: @screen-md-max) {
    .header--kandidatnr--wrapper {
        padding-left: 0 !important;
    }
}

@media (max-width: @screen-md-max) {
    .lenke--kandidatnr--wrapper {
        padding-left: 0 !important;
    }
}

.lenke--kandidatnr {
    color: @navBla;
    display: table;
}

.kandidater--row {
    height: 4.5rem;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 0.5rem;
    background-color: white;
    padding: 0.75rem;
    border: solid 1px #d8d8d8;
    border-radius: 4px;
    font-family: 'Source Sans Pro', Arial, sans-serif;

    .kolonne-tekst {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .kolonne-navn {
        flex: 3;
    }
    .kolonne-innsats {
        flex: 2;
    }
    .kolonne-dato {
        width: 7.5rem;
    }
    .kolonne-bosted {
        flex: 2;
    }

    &:hover {
        box-shadow: 1px 0 4px 1px #cecac4, 0 1px 4px 1px #cecac4;
    }

    .skjemaelement {
        margin: 0;
    }

    * > {
        position: relative;
        top: 0;
        bottom: 0;
        margin-right: 0.5rem;
    }

    .kandidater--row__col {
        overflow: hidden;
        max-height: 1.5rem;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .kandidater--row__col--navn {
        .kandidater--row__col();
        color: @navBla;
    }
}

.kandidater--row--checked {
    border-color: @navBla;
}

.kandidater--row--sett {
    outline: none;
    box-shadow: 0 0 0 2px #ffbd66;
}

.no-padding {
    padding: 0 !important;
}

.yrkeserfaring,
.utdanning,
.lengdeYrkeserfaringTekst {
    padding: 0;
    text-align: left;
    color: @navMorkGra;
}

.bosted {
    max-width: 5.543rem;
    padding: 0;
    text-align: left;
    color: @navMorkGra;
}

.border--vertical {
    border-left: 1px solid #b7b1a9;
    height: 21px;
    float: left;
}

.NyKandidaterTableRow {
    border-radius: 4px;
    overflow: hidden;
    background-color: white;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #3e3832;
    margin-top: 0.5rem;
    border: 1px solid #d8d8d8;
    min-width: 25rem;
    .kandidat-content {
        height: 4rem;
        display: flex;
        align-items: center;
        .kolonne-tekst {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: 2rem;
        }
        .kolonne-overskrift {
            font-weight: 600;
        }
        .kolonne-checkbox {
            padding-left: 1.25rem;
            padding-right: 0.75rem;
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                .skjemaelement {
                    padding-bottom: 1.5rem;
                }
            }
        }
        .kolonne-lenke:visited {
            color: @gray5;
            border-bottom: 1px solid @greenDarken;
        }
        .kolonne-navn {
            flex: 3;
        }
        .kolonne-dato {
            width: 7.5rem;
        }
        .kolonne-innsatsgruppe {
            flex: 3;
        }
        .kolonne-bosted {
            flex: 2;
        }
    }
    &.checked {
        border-color: @navBla;
    }
    &.nettopp-valgt {
        border-color: @navOransje;
    }
    &.overskrift {
        border-color: #78706a;
    }
}
