@import '../../../variabler';

.registrer-midlertidig-utilgjengelig {
    &__forklaring {
        padding-top: 0.5rem;
        padding-bottom: 2rem;
    }

    &__avbryt {
        margin-left: 0.5rem;
        margin-top: 2rem;
    }
}
