.modal :global(.navds-body-short),
.modal :global(.navds-body-long),
.modal :global(.navds-body-link),
.modal :global(.navds-label),
.app :global(.navds-body-short),
.app :global(.navds-body-long),
.app :global(.navds-link),
.app :global(.navds-label) {
    font-size: var(--a-font-size-medium);
}

.app {
    height: 100%;
    background-color: #f1f1f1;
    position: relative;
}

.main {
    margin-bottom: -105px;
    padding-bottom: 105px;
    min-height: 100vh;
}
