.tilToppenKnapp {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    fill: white;

    &.knapp {
        padding: 0.5rem;
    }

    svg {
        width: 33px;
        height: 36px;
    }

    &:focus {
        fill: #0074df;
    }
}
