.nytt-filter-ikon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    width: 1.5rem;
    height: 1.5rem;
    color: white;
    background-color: #0c5472;
    border-radius: 50%;

    .typo-normal {
        font-size: 0.75rem;
        font-weight: bold;
    }
}
