.endre-status-og-hendelser {
    &__registrer-hendelse {
        transform: translateY(-0.25rem);

        &--kompenser-for-padding {
            transform: translateX(-0.6rem) translateY(-0.25rem);
        }

        svg {
            margin-right: 0.5rem;
        }
    }

    &__bekreft-knapp {
        margin-right: 0.5rem;
    }
}
