.endre-status-og-hendelser {
    &__registrer-hendelse,
    &__del-på-nytt {
        transform: translateY(-0.25rem);

        &--kompenser-for-padding {
            transform: translateX(-0.6rem) translateY(-0.25rem);
        }

        svg {
            margin-right: 0.5rem;
        }
    }

    &__del-på-nytt-knapper {
        margin-top: 1rem;
    }

    &__bekreft-knapp,
    &__del-på-nytt-knapp {
        margin-right: 0.5rem;
    }

    &__del_på-nytt-feilmelding {
        margin-top: 0.5rem !important;
    }
}
