@import 'src/variabler';

.kandidat-sticky-header {
    position: sticky;
    top: 0;
    background-color: @rekrutteringsbistandBla;
    padding: 1rem;
    z-index: 1;

    &__inner {
        display: flex;
        justify-content: space-between;
        max-width: @kandidatsok-innhold-bredde;
        margin: 0 auto;
    }
}

.kandidatheader {
    background-color: @rekrutteringsbistandBla;
    padding: 1.25rem 2rem 2rem;
    margin-bottom: 2.5rem;

    &__kontaktinfo > * {
        &:not(:last-child)::after {
            content: '|';
            margin: 0 0.5rem;
        }
    }

    @media (min-width: 1281px) {
        margin-bottom: 2.5rem;

        &__inner {
            flex-direction: row;
        }
    }
}
