@import '../../Variables';

.cv-panel {
  margin: auto;
  max-width: 640px;
  border: solid 1px #d8d8d8;
  .ekspanderbartPanel__hode {
    padding: 1.5rem 2rem 1.5rem 2rem;
  }
}

.cv-panel-tidsperiode {
  margin-top: 5px;
  color: #78706a;
}

.cv-panel-row {
  padding: 0 1rem 0 1rem;
  margin-bottom: 4rem;
}

.cv-panel-row:last-child {
  margin-bottom: 1rem;
}

.cv-panel-row-kategori {
  margin-bottom: 2rem;
}

.cv-panel-row-kategori:last-child {
  margin-bottom: 0;
}
