.antallNotater {
    margin-right: 0.4rem;
    font-size: 1rem;
    font-weight: normal;
}

.lagtTil {
    flex-wrap: wrap;
    align-content: center;
}

.wrapHvorSomHelst {
    overflow-wrap: anywhere;
}

.tabellTekstInner {
    overflow: hidden;
    text-overflow: ellipsis;
}

.kolonneMidtstilt {
    justify-content: center;
    white-space: nowrap;
}

.kolonnHøyrestilt {
    justify-content: flex-end;
}

.kolonneSorterbar {
    padding-left: 0.5rem;
}

.visNotaterKnapp {
    gap: 0.25rem;
}

.visNotaterKnapp span {
    font-weight: normal;
}
