@import '../../Variables';

.sokefelt--wrapper--geografi {
    color: @navMorkGra;
}

.heading--geografi span {
    text-align: left;
}

.Merkelapp__wrapper {
    margin-bottom: 0;
}

.Checkbox--ma-bo-pa-geografi-disabled.skjemaelement {
    width: 100%;
    margin: 1.25rem 1rem 0 0;
    label {
        color: @navMorkGra !important;
    }
}

.Checkbox--ma-bo-pa-geografi-disabled .checkboks + .skjemaelement__label:before {
    border-color: #b7b1a9;
    background-color: @navGra20;
    color: @navMorkGra;
}

.Checkbox--ma-bo-pa-geografi-disabled .checkboks + .skjemaelement__label:before:hover {
    color: @navMorkGra;
}

.Checkbox--ma-bo-pa-geografi.skjemaelement {
    width: 100%;
    margin: 1.25rem 1rem 0 0;
}

.sokefelt--wrapper--geografi .hjelpetekst__apneknapp:hover {
    outline: 0;
    color: @navMorkGra;
    box-shadow: none;
    input {
        color: @navMorkGra;
    }
}

.sokefelt--wrapper--geografi .hjelpetekst__apneknapp:focus {
    outline: 0;
    color: @navMorkGra;
    box-shadow: none;
}

.sokefelt--wrapper--geografi .hjelpetekst {
    .skjemaelement__label {
        text-align: left;
    }
}

.sokefelt--wrapper--geografi .hjelpetekst {
    padding-left: 0;
    display: block;
}
