@import '../../../felles/Variables.less';
@import '../../../felles/mixins';

.KandidatsokNextHeader {
  display: flex;
  align-items: center;
  background-color: #062140;
  color: white;

  @media (min-width: @screen-sm) {
    justify-content: space-between;
    flex-direction: row;
    padding: 2rem;
  }

  @media (max-width: (@screen-sm - 1)) {
    align-items: flex-start;
    flex-direction: column;
    padding: 1.25rem;
  }

  .KandidatsokNextHeader-left {
    max-width: 920px;
    display: flex;
    align-items: center;

    .header-icon-wrapper {
      margin-right: 1rem;
    }

    h1 {
      margin-top: 0;
      margin-bottom: 0.25rem;
      font-weight: normal;
      font-size: 1.5rem;

      @media (max-width: (@screen-sm - 1)) {
        font-size: 20px;
      }
    }

    p {
      margin-bottom: 0;
      margin-top: 0;

      @media (max-width: (@screen-sm - 1)) {
        font-size: 16px;
      }

      @media (min-width: @screen-sm-min) {
        display: inline-block;
        margin-right: 0.5rem;
      }
    }
  }

  .KandidatsokNextHeader-right {
    button {
      @media (min-width: @screen-sm) {
        margin-left: 1rem;
      }

      @media (max-width: (@screen-sm - 1)) {
        margin-top: 1.25rem;
      }
    }
  }

  .les-mer-knapp {
    color: #fff;
    font-weight: 600;

    @media (max-width: (@screen-sm - 1)) {
      margin-top: 1.25rem;
    }

    &:hover {
      border-color: #fff;
    }

    &:active {
      background-color: #fff;
      color: @pink;
    }
  }
}


.KandidatsokNextModal {
  width: 40rem;
  padding: 2rem;
  color: #062140;
  h2 {
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 24px;
  }
  p {
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 2rem;
    }
  }
}


.KandidatsokNextFeedbackModal {
  .KandidatsokNextModal;

  a:not(:last-child) {
    margin-right: 2rem;
  }

  .external-link {
    .externalIcon();
  }

  @media (max-width: @screen-xs-max) {
    a {
      margin-right: 0;
      display: block;
      &:last-of-type {
        margin-top: 1.25rem;
      }
    }
  }
}
