.ingen-kandidater {
    background-color: #efefef;
    padding: 2rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;

    &.typo-element {
        margin-top: 0.5rem;
    }
}
