.farget-prikk {
    display: inline-block;
    min-width: 10px;
    height: 10px;
    border-radius: 50%;

    &:first-child {
        margin-right: 0.5rem;
    }

    &:not(:first-child) {
        margin-left: 0.5rem;
    }

    &--vurderes {
        background-color: rgba(62, 56, 50, 0.6);
    }

    &--kontaktet {
        background-color: #ffd200;
    }

    &--aktuell {
        background-color: #ff9100;
    }

    &--uaktuell {
        background-color: #c30000;
    }

    &--uinteressert {
        background-color: #c30000;
    }

    &--ikke_presentert {
        background-color: white;
        border: 1px solid #3e3832;
    }

    &--presentert {
        background-color: #a2ad00;
    }

    &--fatt_jobben {
        background-color: #06893a;
    }
}
