.etikett {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 0.5rem;

    padding: 1px 0.5rem;
    line-height: var(--a-font-line-height-large);
    border: 1px solid var(--a-gray-800);
    border-radius: var(--a-border-radius-medium);
}
