@import 'src/variabler.less';

.hendelsesetikett {
    margin-right: 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: none;

    &--cv_delt {
        background-color: @navLillaLighten80;
        border-color: @navLilla;
    }

    &--fått_jobben {
        background-color: @navLimeGronnLighten80;
        border-color: @navLimeGronn;
    }

    &--svar_ja {
        background-color: @navGronnLighten80;
        border-color: @navGronn;
    }

    &--svar_nei {
        background-color: @redErrorLighten80;
        border-color: @redError;
    }

    &--delt_med_kandidat {
        background-color: @navDypBlaLighten80;
        border-color: @navDypBla;
    }
}
