.kandidat-tilretteleggingsbehov {
    margin: auto;
    max-width: 640px;

    .ekspanderbartPanel > .ekspanderbartPanel__hode {
        padding: 1.5rem 2rem 1.5rem 2rem;
    }

    &__innhold {
        margin: 0 1rem;
    }

    &__lenke {
        height: 2.5rem;
        margin: 0.5rem 0;
        display: inline-flex;
    }
}
