@import '../../felles/Variables.less';

.LenkeTilKandidatsokNext {
  background-color: @gray2;
  padding: 1.25rem;
  margin-bottom: 2.5rem;
  display: flex;

  .LenkeTilKandidatsokNext-ikon {
    margin-right: 1rem;
  }

  a {
    font-weight: bold;
  }

  p {
    max-width: 30rem;
  }

  @media (min-width: 992px) {
    margin-top: 2.5rem;
  }
}

