
.LenkeTilKandidatsokNext {
  background-color: #062140;
  border-radius: 0;
  color: white;
  font-family: "Source Sans Pro", Arial, sans-serif;

  .LenkeTilKandidatsokNext-header {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .LenkeTilKandidatsokNext-body {
    margin-top: 0;
    margin-bottom: 0;
  }
}
