.FeedbackWrapper {
    background: #fff;
    margin-bottom: 2rem;
}

.Feedback {
    text-align: center;
    padding: 1rem;
    background: #fff;
    font-size: 120%;
    position: relative;
}

.Feedback__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.Feedback--link {
    text-align: left;
    padding: 0.1rem;
    background: #fff;
    font-size: 120%;
    position: relative;
}
