@import '../../felles/Variables';

@mobile: ~'only screen and (min-width: 1px) and (max-width: 767px)';

.header--bakgrunn__veileder {
    background-color: #e3edf8;
    color: @navMorkGra;
    border: solid 1px #d8d8d8;
    padding-bottom: 64px;
    margin-bottom: 40px;
}

.header--personalia__tekst {
    text-align: left;
    font-weight: 600;
    font-size: 20px;
}

.header--personalia__overskrift {
    text-align: center;
}

.header--personalia__container {
    padding: 1rem 0;
    text-align: center;
}

.header--personalia__mail {
    text-align: center;
    color: @blueDarken;
    font-weight: 600;
}

.header--personalia__mail--veileder {
    text-align: center;
    color: @navMorkGra;
    font-weight: 600;
}

.header--personalia__lenker--container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    .navigering-forrige-neste {
        margin-top: 0;
    }
}

.navigering-forrige-neste_wrapper {
    text-align: center;
}

.navigering-forrige-neste {
    margin-top: 2rem;
    display: inline-flex;
    justify-content: space-evenly;
    > :last-child {
        margin-left: 1.125rem;
    }
    .index {
        margin-left: 1.25rem;
    }
    .typo-normal {
        padding-bottom: 0.125rem;
    }
}

.header--personalia__lenke--placeholder {
    width: 7.92rem;
}

.VisKandidat__ForrigeNeste {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.header--personalia__lenke--veileder {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.header--personalia__fodselsdato {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-weight: normal;
}

.personalia-container {
    margin: auto;
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: 767px) {
        flex-direction: column;
        display: block;
    }
    @media (min-width: 768px) {
        flex-direction: row;

        :first-child {
            margin-left: 20px;
        }

        :last-child {
            margin-right: 20px;
        }
    }
    .personalia--item {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        display: inline-flex;
        align-items: center;
        flex-grow: 1;
        flex-basis: 30%;
        justify-content: center;
        * {
            margin-left: 3px;
            margin-right: 3px;
        }
    }
    .personalia--icon {
        padding-top: 0.5rem;
    }
}

.panel--jobbprofil {
    margin: auto auto 20px;
    max-width: 640px;
    .ekspanderbartPanel > .ekspanderbartPanel__hode {
        padding: 1.5rem 2rem 1.5rem 2rem;
    }
}

.panel--jobbprofil__row {
    margin-bottom: 2rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    &:first-child {
        margin-bottom: 4rem;
    }
    &:last-child {
        margin-bottom: 1rem;
    }
    .jobbprofil__overskrift {
        @media @mobile {
            margin-bottom: 0.5rem;
        }
    }
}

.panel--cv {
    margin: auto auto 20px;
    max-width: 640px;
    .ekspanderbartPanel > .ekspanderbartPanel__hode {
        padding: 1.5rem 2rem 1.5rem 2rem;
    }
    .cv--tidsperiode {
        margin-top: 5px;
    }
}

.panel--cv__row {
    margin-bottom: 4rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    &:last-child {
        margin-bottom: 1rem;
    }
    .row--kategori {
        margin-bottom: 2rem;
        padding-left: 0.5rem;
        &:last-child {
            margin-bottom: 0;
        }
        .typo-undertekst {
            margin-bottom: 0.25rem;
        }
        .typo-normal {
            margin-bottom: 0.25rem;
            word-break: break-word;
        }
        .typo-element {
            margin-bottom: 0.25rem;
            word-break: break-word;
        }
    }
    .cv__overskrift {
        margin-bottom: 0.5rem;
    }
}

.container--lagre-knapp {
    margin: auto auto 20px;
    max-width: 640px;
    text-align: right;
    .knapp--mini {
        font-size: 1rem;
    }
}

.match-explanation-container {
    margin-bottom: 20px;
}
