@import '../../../../node_modules/pam-frontend-core/less/variables.less';

.fritekst__search {
    position: relative;
    margin: auto;
    .skjemaelement__input {
        width: 100%;
        height: 3.4375rem;
        padding: 0.45rem 1.25rem;
        border: 1px solid #d8d8d8;

        &:hover {
            border-color: @blueDarken;
        }
    }

    &__søkeknapp {
        position: absolute;
        right: 0;
        height: 3.5rem;
    }
}
