@import '../../../../node_modules/pam-frontend-core/less/variables.less';

.fritekst-search {
    position: relative;
    margin: auto;

    &--med-feilmelding {
        margin-bottom: 3rem;
    }

    .skjemaelement__input {
        width: 100%;
        height: 3.4375rem;
        padding: 0.45rem 1.25rem;
        border: 1px solid #d8d8d8;

        &:hover {
            border-color: @blueDarken;
        }
    }

    .skjemaelement__feilmelding {
        position: absolute;
    }

    &__søkeknapp {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 3.5rem;

        svg {
            margin-right: 0.5rem;
        }
    }
}
