.nudgeAvsluttOppdragModal {
    &.modal {
        padding: 2rem;
        width: 40rem;
    }

    &__tittel {
        padding-bottom: 1.25rem;
    }

    &__beskrivelse {
        .typo-normal {
            padding-bottom: 1rem;

            &:last-child {
                padding-bottom: 2.5rem;
            }
        }
        padding-bottom: 2.5rem;
    }

    &__bekreftknapp {
        margin-right: 0.5rem;
    }
}
