.sendSmsModal {
    max-width: 40rem;
}

.velgMal {
    margin-bottom: 2rem;
}

.forhåndsvisning {
    margin-bottom: 2rem;
    background-color: #e9e7e7;
    border: 1px solid #b7b1a9;
    border-radius: 0.25rem;
    padding: 1rem;
}

.alleredeSendtAdvarselListe {
    margin: 0.5rem 0;
}

.alleredeSendtAdvarsel {
    margin: 1.5rem 0;
    padding-top: 1rem;
}

.kontortidAdvarsel {
    border: none;
    background: none;
    padding: 0;
    margin: 2rem 0;
}

.knapper {
    display: flex;
    gap: 1rem;
}
