.LeggTilKandidatModal {
    width: 640px;

    &__registrer-usynlig-kandidat {
        margin-top: 2rem;
    }

    &.modal {
        padding: 2rem;
    }

    .typo-feilmelding {
        font-weight: normal;
    }

    .tittel {
        margin-bottom: 1.25rem;
    }
    .leggTilKandidatModal--feilmelding__ul {
        margin: 0.5rem 0 0;
    }
    .skjemaelement__input {
        border: 1px solid #b7b1a9;
    }
    .skjemaelement__label {
        margin-bottom: 0.5rem;
    }
    .fodselsnummer {
        margin-top: 1rem;
    }
    .legg-til-kandidat__advarsel {
        display: flex;
        margin-top: 2rem;
    }
    .legg-til-kandidat__advarsel-tekst {
        flex: 1;
        margin-left: 0.5rem;
    }
    .legg-til--knapp {
        margin: 2.5rem 1rem 0 0;
    }
    .avbryt--knapp {
        margin-top: 2.5rem;
    }

    .skjemaelement.legg-til-kandidat__fodselsnummer {
        margin-top: 2rem;
    }

    .legg-til-kandidat__notatoverskrift {
        margin-top: 2rem;
    }

    .legg-til-kandidat__notat {
        min-height: 10rem;
    }
    .advarsel__icon {
        width: 22px;
    }
}
