.bransjevelger {
    
    &__bransjer {
        display: flex;
        flex-wrap: wrap;
    }

    &__bransje {
        margin: 1rem 2rem 1rem 1rem;
    }

    &__linktekst {
        white-space: nowrap;
    }
}