@import '../Variables.less';

.Kandidatliste-panel {
  background-color: white;
  padding: 1rem 1rem 1rem 1rem;
}

.Kandidatliste-oppdragsgiver {
  display: inline;
  border-left: 1px solid black;
  margin-left: 1rem;
  padding-left: 1rem;
}

.OpprettKandidatliste__form-wrapper {
  background-color: white;
  padding: 2rem 2rem 2rem 2rem;
  margin-top: 2rem;
}

.OpprettKandidatlisteForm__avbryt-lenke-wrapper {
  display: inline;
  padding-left: 2rem;
}

.OpprettKandidatliste__container {
  margin-top: 1rem;
}

.OpprettKandidatliste__container-width {
  max-width: 650px;
}

.OpprettKandidatlisteForm__input {
  margin-bottom: 2rem;
}

.KandidatlisteDetalj__toppmeny--bakgrunn {
    margin-left: 0px;
    margin-right: 0px;
    background: @navBla;
    min-height: 240px;
    padding-top: 24px;
    width: 100%;
}

.KandidatlisteDetalj__toppmeny--innhold {
    display: flex;
    flex-direction: column;
    color: white;

    .TilbakeLenke {
        padding: 0px;
        > a {
            color: white;
            text-decoration: none;
        }
    }

    .undertittel {
        font-style: italic;
    }

    > :nth-child(2) {
        margin-top: 24px;
    }

    > :nth-child(3) {
        margin-top: 12px;
    }

    .KandidatlisteDetalj__toppmeny--inforad {
        margin-top: 24px;
        display: inline-flex;

        @media(max-width: 768px) {
            flex-direction: column;
        }

        @media(min-width: 769px) {
            flex-direction: row;
            p:not(:last-child):after {
                content: '|';
                margin-left: 8px;
                margin-right: 8px;  
            }
        }

        p > a {
            color: white;
        }

        p:first-child {
            font-weight: bolder;
        }
    }
}

.knapp--ikon {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    
    + .disabled {
    }
}

.KandidatlisteDetalj__knapper-rad {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;

    * {
      margin-left: 8px;  
    }
}


.KandidatlisteDetalj__container {
    padding-top: 1rem;

    .KandidatPanel {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;
        margin-bottom: 1rem;

        :first-child {
            flex: 0 0 180px;
            min-width: 180px;
        }

        @media(max-width: 400px) {
            :first-child {
                flex: 0 0 100px;
                min-width: 100px;
            }
        }

        :not(:last-child):not(:first-child) {
            flex: 1;
            padding-left: 4rem;
        }

        .skjemaelement {
            display: inline-flex;
            align-items: center;
            margin: 0px;
        }
    }

    .KandidatPanel__header {
        border-radius: 4px;
        border-width: 1px;
        border-color: black;
        border-style: solid;

        :last-child {
            flex: 1;
            padding-left: 4rem;
        }
    }
}