@import '../Variables.less';
@import "../styles";

@borderMork: #78706a;
@borderLys: #d8d8d8;



.Kandidatlister__header--innhold {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    height: 7.5rem;
    > :first-child {
        flex: 1;
    }
    .knapp {
        color: white;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        border: 2px solid white;
        border-radius: 4px;
    }
}

.Kandidatliste__panel {
  background-color: white;
  padding: 20px;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: @borderLys;
  border-style: solid;
  .beskrivelse {
    padding-bottom: 16px;
    .overskrift {
      text-decoration: underline;
    }
    .dato-opprettet {
      color: #78706a;
    }
    .topp {
      margin-bottom: 16px;
      display: flex;
      flex-direction: row;
      align-items: center;
      :first-child {
        flex: 1;
      }
    }
    .oppdragsgiver {
      display: inline;
      border-left: 1px solid black;
      margin-left: 0.5rem;
      padding-left: 0.5rem;
    }
    .kandidatantall {
      display: inline;
    }
  }
  .funksjonsknapp-panel {
    border-top: 1px solid @borderLys;
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    .ikon-knapp {
      color: @navBla;
      cursor: pointer;
      border: 1px;
      margin: 2px 2px 2px 2px;
      display: inline-flex;
      align-items: center;
      .ikon {
        margin-right: 0.5rem;
      }
    }
  }
}

.Kandidatliste__panel:not(:first-child) {
  margin-top: 1rem;
}

.Kandidatlister__container {
  margin-top: 2.5rem;
}

.Kandidatlister__container-width {
  max-width: 640px;
}

.Kandidatlister__container-width-l {
    max-width: 1036px;
  }

.OpprettKandidatliste__form-wrapper {
  background-color: white;
  padding: 2rem 2rem 2rem 2rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
  border-radius: 0.25rem;
}

.OpprettKandidatlisteForm__avbryt-lenke-wrapper {
  display: inline;
  padding-left: 2rem;
}

.OpprettKandidatliste__container {
  margin-top: 1rem;
}

.OpprettKandidatliste__container-width {
  max-width: 40rem;
}

.OpprettKandidatlisteForm__input {
  margin-bottom: 2rem;
}

.KandidatlisteDetalj__header--innhold {
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;

    .TilbakeLenke {
        padding: 0px;
        > a {
            color: white;
            text-decoration: none;
        }
    }

    .undertittel {
        margin-top: 5px;
        font-style: italic;
    }

    > :nth-child(2) {
        margin-top: 2rem;
    }

    .inforad {
        margin-top: 2rem;
        display: inline-flex;
        margin-bottom: 1.25rem;

        @media(max-width: 768px) {
            flex-direction: column;
        }

        @media(min-width: 769px) {
            flex-direction: row;
            p:not(:last-child):after {
                content: '|';
                margin-left: 1rem;
                margin-right: 1rem;  
            }
        }

        p > a {
            color: white;
        }

        p:first-child {
            font-weight: bolder;
        }
    }
}

.KandidatlisteDetalj__container {
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1050px) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .KandidatlisteDetalj__panel {
        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: space-between;
        margin-bottom: 0.5rem;
        padding: 1.25rem;
        min-height: 4rem;
        flex-direction: row;
        border-style: solid;
        border-color: @borderLys;
        border-width: 1px;
    
        .KandidatlisteDetalj__panel--first {
            display: inline-flex;
            align-items: center;
            flex-direction: row;
            @media (min-width: 672px) {
                flex: 0 0 240px;
                min-width: 240px;   
            }

            @media (max-width: 671px) {
                flex: 1;
            }

            .skjemaelement__label {
                padding-left: 3rem;
                font-weight: bold;
            }

        }
        .typo-undertekst-bold {
            font-size: 1rem;
        }

        .skjemaelement {
            display: inline-flex;
            align-items: center;
            margin: 0px;
        }
    }

    .KandidatlisteDetalj__panel--header {
        border-radius: 4px;
        border-width: 1px;
        border-color: @borderMork;
        border-style: solid;
    }

    .KandidatlisteDetalj__knapperad {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
        * {
            margin-left: 0.5rem;  
        }

        .knapp--ikon {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 4px;
            padding-bottom: 4px;
        }
    }
}

.KandidatlisteDetalj__modal {
    padding-right: 4rem;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .knapperad {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        * > {
            margin-right: 1rem;
        }
    }
    .alertstripe {
        margin-bottom: 1rem;
    }
}

.KandidatlisteDetalj__spinner--wrapper {
    display: flex;
    justify-content: center;
}

.TomListe {
    text-align: center;
    padding: 4rem !important;
    border-width: 1px;
    border-style: solid;
    border-color: @borderLys;
    .lenke {
        text-align: center;
        display: inline-block;
        margin-top: 2rem;
    }
}