@import '../../../felles/Variables';

.match-category-title{
  text-align: center;
  margin-bottom: 0.5rem;
}

.match-row {
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  * {
    flex: 1;
  }

  /* alignment */
  *:nth-child(1) {
    text-align: left;
  }
  *:nth-child(2) {
    text-align: center;
  }
  *:nth-child(3) {
    text-align: right;
  }
}

.color-low-score {
  background-color: #e0e2e5;
}

.color-medium-score {
  background-color: #d3e2e2;
}

.color-high-score {
  background-color: #b1e1d9;
}

.no-match-text {
  text-decoration: line-through;
}

