@import '../../../felles/Variables';

.match-category-title{
  text-align: center;
  margin-bottom: 0.5rem;
}

.match-row {
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: @gray2;

  * {
    flex: 1;
  }

  /* alignment */
  *:nth-child(1) {
    text-align: left;
  }
  *:nth-child(2) {
    text-align: center;
  }
  *:nth-child(3) {
    text-align: right;
  }
}

