@import '../../../felles/Variables';
@import "../../../../node_modules/nav-frontend-lenker-style/src/lenker-style";

.match-explanation-right-column {
  text-align: right;
}

.match-explanation-left-border {
  border-left: 1px #e9e7e7 solid;
}

.match-explanation-right-border {
  border-right: 1px #e9e7e7 solid;
}

.match-explanation-concept-type-header {
  text-align: center;
}

.match-explanation-concept-type-row {
  margin-bottom: 1rem;
}

.match-explanation-concept-type-row + .match-explanation-concept-type-row {
  .match-explanation-concept-type-header {
    padding-top: 1rem;
    border-top: 1px solid #e9e7e7;
  }
}

.match-explanation-match {
  border-bottom: 2px dashed black;
}

.match-explanation-container {
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  padding: 2.5rem;
  margin-top: 20px;
  max-width: 640px;
  border-radius: 2px;
}
