.fant-få-kandidater {
    background-color: #e6f4ef;
    padding: 4rem;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__ikon {
        margin-bottom: 2rem;
    }

    &__overskrift {
        padding-bottom: 1rem;
    }

    &__ingress {
        padding-bottom: 4rem;
    }

    &__ikon,
    &__overskrift,
    &__ingress {
        align-self: center;
    }

    &__valgte-kriterier {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.5rem;
    }

    &__valgte-kriterier-tittel {
        padding-bottom: 0.75rem;
    }

    &__kriterie-label {
        margin-right: 1rem;
    }

    .Merkelapp {
        margin: 0 0.75rem 0.75rem 0;
    }
}
