@import '../../../felles/Variables';
@import '~nav-frontend-lenker-style/src/lenker-style';

.kandidater-tabell {
    &__rad {
        border-radius: 4px;
        background-color: white;
        color: #3e3832;
        margin-top: 0.5rem;
        border: 1px solid;
        min-width: 25rem;
        height: 4rem;
        padding: 0 1.25rem;
        display: grid;
        grid-template-columns: 1fr minmax(0, 1fr) 8fr 6fr 7.5fr 5fr;
        align-items: center;

        &--header {
            border-color: #78706a;
        }

        &--kandidat {
            border-color: #d8d8d8;
        }
    }

    &__navn-og-lag-i-liste-ikon {
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__navn {
        &:visited {
            color: @navLilla;
        }
    }

    &__lagt-i-liste-ikon {
        position: absolute;
    }

    &__tilgjengelighet {
        display: flex;
        justify-content: center;
        flex: 0.6;
    }

    &__checked {
        border-color: @navBla;
    }

    &__nettopp-valgt {
        border-color: @navOransje;
    }

    &__kolonne-tekst {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__under-treff {
        margin-top: 2rem;
    }

    &__antall-treff.typo-element {
        display: inline;
        margin-left: 0.5rem;
    }
}
