@import '../../../felles/Variables';

.NyKandidaterTableRow {
    overflow: hidden;
    border-radius: 4px;
    background-color: white;
    color: #3e3832;
    margin-top: 0.5rem;
    border: 1px solid #d8d8d8;
    min-width: 25rem;

    .kandidat-content {
        height: 4rem;
        display: flex;
        align-items: center;

        .kolonne-tekst {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: 2rem;
        }

        .kolonne-checkbox {
            padding-left: 1.25rem;
        }

        .kolonne-lenke:visited {
            color: @gray5;
            border-bottom: 1px solid @greenDarken;
        }

        .kolonne-tilgjengelitghet-spacer {
            flex: 0.6;
        }

        .kolonne-navn {
            flex: 3;
        }

        .kolonne-dato {
            width: 7.5rem;
        }

        .kolonne-innsatsgruppe {
            flex: 3;
        }

        .kolonne-bosted {
            flex: 2;
        }
    }

    &.checked {
        border-color: @navBla;
    }

    &.nettopp-valgt {
        border-color: @navOransje;
    }

    &__tilgjengelighet {
        display: flex;
        justify-content: center;
        flex: 0.6;
    }
}
