@import '~nav-frontend-paneler-style/src/index';
@import '~nav-frontend-skjema-style/src/index';
@import '~nav-frontend-grid-style/src/index';
@import './variabler.less';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    overflow-y: scroll;
}

.text-center {
    text-align: center;
}

.modal--bekreft {
    padding: 1.5rem 2rem 1.5rem 2rem !important;
    .knapp--hoved {
        margin-right: 2.5rem;
    }
}

select {
    color: @navMorkGra;
}

@media (max-width: @screen-xs-max) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.knapp--flat,
.knapp--standard:not(:active):not(:hover):not(:disabled) {
    background-color: transparent;
}
