@import '@navikt/ds-css' layer(designsystem);
@import '@navikt/ds-css-internal' layer(designsystem);

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    overflow-y: scroll;
}

:root {
    --kandidatsokSidepanelBredde: 13rem;
    --kandidatsokInnholdBredde: 95.5rem;
    --rekrutteringsbistandBla: #e3edf8;
}
