@nodeModulesPath: './../../';
@coreModulePath: './../../';
@import "../node_modules/nav-frontend-core/less/core";
@import "../node_modules/nav-frontend-lenker-style/src/lenker-style";
@import "../node_modules/nav-frontend-paneler-style/src/index";
@import "../node_modules/nav-frontend-knapper-style/src/index";
@import "../node_modules/nav-frontend-skjema-style/src/index";
@import "../node_modules/nav-frontend-grid-style/src/index";

@color-green: @navGronn;

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 10rem;
  min-height: 100%;
  overflow-y: scroll;
  background: #F6F5F5;
}

.header {
  padding: 1.5rem 4.125rem;
  display: flex;
  background: #fff;
  margin-bottom: 2.225rem;
}

.header__logo {
  flex-grow: 1;
}

.header__logo .logo {
  color: #3E3832;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  stroke: none;
  text-decoration: none;
}

@media (max-width: 767px) {
  .header {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }

  .header__logo {
    width: 32px;
    overflow: hidden;
  }
}

.header__auth .lenke:not(:last-child) {
  margin-right: 2rem;
}

.pilot {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 272.5px;
  transform: rotate(-45deg);
  text-align: center;
  color: #ff9100;
  background-color: rgba(255, 145, 0, 0.4);
  position: absolute;
  top: 32px;
  left: -92px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 4px;
  z-index: 9999;
}

.footer {
  background-color: @white;
  padding: 1rem 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer__nav-logo {
  display: inline-block;
  border-bottom: none !important;
}

.main-vh100 {
  min-height: 100vh;
}

.break-word {
  word-wrap: break-word;
}

.text-right {
  text-align: right;
}

.flex-columns {
  display: flex;
}

.flex-columns .typo-normal,
.flex-columns .typo-etikett-liten {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

button.lenke {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0 0;
}


.vh-50 {
  min-height: 50vh;
}

.muted {
  opacity: 0.7;
}

.shown {
  display: block;
}

.text-center {
  text-align: center;
}

.checkboks + .skjemaelement__label{
  padding-left: 32px;
  line-height: 24px;
}

.checkboks + .skjemaelement__label:before {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: solid 2px #c6c2bf;
  // border-color: @color-green;
}

.checkboks:checked + .skjemaelement__label:before {
  // background-color: @color-green;
  // border-color: @color-green;
  background-size: 30px 30px;
}

.checkboks:hover + .skjemaelement__label:before {
  // border-color: @navGronnDarken40;
  border-width: 2px;
}

.lenke.dashed {
  border: 2px dashed #78706A;
  border-radius: 4px;
  color: #78706A;
  font-weight: 600;
  text-align: left;
  padding: 0.5rem 1rem;
}
.lenke.dashed:focus,
.lenke.dashed:hover {
  background: #fff;
  border: 2px dashed #0067C5;
  color: #0067C5;
}
.lenke.dashed:focus {
  outline: none;
  box-shadow: 0 0 0 3px #FFBD66;
}

.sokekriterier--kriterier {
  width: 100%;
  margin: 1rem 0;
}

.leggtil--sokekriterier {
  margin: 1rem 1rem 0 0;
  display: inline-block;
}

.leggtil--sokekriterier--knapp {
  margin: 0.5rem 1rem 0 0;
}

.etikett--sokekriterier {
  border: none;
  border-radius: 4px;
  margin: 0.5rem 1rem 0 0;
  padding: 0.7rem 2rem;
  background-color: #cce1f3;
  color: #3e3832;
}

.etikett--forslag--kompetanse {
  border: solid 2px #c6c2bf;
  border-radius: 4px;
  margin: 0.5rem 1rem 0 0;
  padding: 0.7rem 2rem;
  background-color: rgba(227, 227, 227, 0.5);
}

.checkbox--sokekriterier--unchecked {
  display: inline-block;
  margin: 0.5rem 1rem 0 0;
  padding: 0.7rem 0.7rem;
  border: solid 2px #c6c2bf;
  border-radius: 4px;
}

.checkbox--sokekriterier--checked {
  display: inline-block;
  margin: 0.5rem 1rem 0 0;
  padding: 0.7rem 0.7rem;
  border: solid 2px #fff;
  border-radius: 4px;
  background-color: #cce1f3;
}

.kryssicon--sokekriterier {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  border: none;

  &:before, &:after {
    height: 14px;
    width: 1px;
    transform: rotate(-45deg);
    content: '';
    display: block;
    position: absolute;
    top: 0.85rem;
    right: 1rem;
    background-color: #0067c5;
    transition: all 0.2s ease-out;
  }


  &:after {
    transform: rotate(45deg);
  }
}

.resultatsummering--sokekriterier {
  text-align: center;
  padding: 2rem;
  margin: 2.5rem;
  position: fixed;
}

.antall--treff--sokekriterier {
  margin: 1rem;
}

.resultatvisning--sokekriterier {
  .leggtil--sokekriterier--knapp, .checkbox--sokekriterier--unchecked,
  .checkbox--sokekriterier--checked, .etikett--sokekriterier,
  .leggtil--sokekriterier {
    width: 100%;
  }
}

.resultatvisning--body {
  margin-top: 2rem;
}

.lenke--lagre--sok {
  float: right;
  padding-top: 0.3rem;
}

.resultatvisning {
  margin: 2.5rem 0 0 2rem;
}

.border--bottom--medium {
  border-bottom: solid 2px rgba(120, 112, 106, 0.5);
  border-radius: 0;
  margin-top: 1rem;
}

.border--bottom--thin {
  border-bottom: solid 1px rgba(120, 112, 106, 0.5);
  border-radius: 0;
}

.border--bottom--thin--margin {
  margin: 2rem 0 1rem 0;
}

.label--resultatvisning {
  display: inline-block;
  margin-right: 0.5rem;
}

.lenke--slett--kriterier {
  float: right;
  margin-top: 0.3rem;
}
