@import '~nav-frontend-core/less/_variabler';
@import '~nav-frontend-typografi-style';

/* Dobbel selector for å overskrive styling fra nav-frontend */
.knapp.knapp-små-bokstaver {
    text-transform: none;
}

:root {
    --mobile: ~'only screen and (min-width: 1px) and (max-width: 767px)';
    --screen-xs: 480px;
    --skjerm-medium: 1280px;

    --kandidatsok-sidepanel-bredde: 13rem;
    --kandidatsok-innhold-bredde: 95.5rem;

    --rekrutteringsbistandBla: #e3edf8;
    --tilgjengeligBakgrunn: #cde7d8;
    --tilgjengeligBorder: #06893a;
}

/*
   Less-variabler. Når all Less er migrert over til CSS-modules,
   kan disse linjene slettes, og denne filen kan bli en .css-fil.
*/
@mobile: ~'only screen and (min-width: 1px) and (max-width: 767px)';
@screen-xs: 480px;
@skjerm-medium: 1280px;

@kandidatsok-sidepanel-bredde: 13rem;
@kandidatsok-innhold-bredde: 95.5rem;

// Egne farger for Rekrutteringsbistand
@rekrutteringsbistandBla: #e3edf8;
@tilgjengeligBakgrunn: #cde7d8;
@tilgjengeligBorder: #06893a;
