@import '../../Variables.less';

.LeggtilKnapp {
    background: @greenLighten;
    border: 2px solid transparent;
    color: @blueDarken;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.0625em;
    line-height: 1;
    padding: 0.375rem 1rem 0.5rem 1rem;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    white-space: nowrap;

    @media (min-width: @screen-sm-min) {
        padding: 0.575rem 2rem 0.676rem 2rem;
        font-size: 1rem;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px @orangeFocus;
    }

    &:hover {
        background-color: #fff;
        border-color: @blueDarken;
        transform: none;
        .LeggtilKnapp__text {
            text-decoration: underline;
        }
    }

    &:active {
        background-color: #fff;
        border-color: @blueDarken;
    }
}
