.forrige-neste {
    display: inline-flex;
    justify-content: space-evenly;

    > :last-child {
        margin-left: 1.125rem;
    }

    &__index {
        margin-left: 1.25rem;
    }

    &__placeholder {
        width: 7.92rem;
    }

    .typo-normal {
        padding-bottom: 0.125rem;
    }
}
