.liste {
    display: grid;
    grid-template-columns: 11rem 1fr;
    gap: 0.5rem 1rem;
}

.liste dt:global(.navds-body-short) {
    font-weight: bold;
}

.liste dd:global(.navds-body-short) {
    text-wrap: balance;
}
