@import '../Variables.less';
@import "../styles";


.PageHeader {
    background-color: @navBla;
    color: white;
    min-height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
  
    @media (max-width: 1050px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    .PageHeader__content {
        margin-top: 20px;
        margin-bottom: 20px;
        flex: 1;
        max-width: 1036px;
    }
  }