apiVersion: 'nais.io/v1alpha1'
kind: 'Application'
metadata:
    name: rekrutteringsbistand-kandidat
    namespace: q0
    labels:
        team: teampam
spec:
    image: {{{ image }}}
    port: 8080
    liveness:
        path: /rekrutteringsbistand-kandidat/internal/isAlive
        initialDelay: 60
        timeout: 1
        failureThreshold: 2
    readiness:
        path: /rekrutteringsbistand-kandidat/internal/isReady
        initialDelay: 60
        timeout: 1
    replicas:
        min: 1
        max: 2
    cpuThresholdPercentage: 50
    resources:
        limits:
            cpu: 500m
            memory: 512Mi
        requests:
            cpu: 200m
            memory: 256Mi
    vault:
        enabled: true
    prometheus:
        enabled: false
        path: /metrics
    ingresses:
        - https://rekrutteringsbistand.nais.preprod.local/kandidater
    env:
        - name: LOGINSERVICE_VEILEDER_URL
          value: https://loginservice.nais.preprod.local/login
        - name: LOGINSERVICE_LOGOUT_VEILEDER_URL
          value: https://loginservice.nais.preprod.local/slo
        - name: LAST_NED_CV_URL
          value: https://pam-cv-veileder.nais.preprod.local/cv/pdf
        - name: PAM_KANDIDATSOK_API_URL
          value: https://pam-kandidatsok-api-q0.nais.preprod.local/
        - name: PAM_SEARCH_API_RESTSERVICE_URL
          value: https://api-gw-q0.adeo.no/pam-search-api/
        - name: PAMPORTAL_URL
          value: https://arbeidsplassen-q.nav.no/
        - name: FINN_KANDIDAT_URL
          value: https://arbeidsgiver.nais.preprod.local/finn-kandidat
