.navnefilter {
    display: flex;
    align-items: center;
    position: relative;

    &__label {
        display: none;
    }

    &__input {
        border-width: 0 0 1px 0;
        padding: 0.25rem 1.5rem 0.25rem 1.75rem;
        border-color: #78706a;
        color: #3e3832;

        &::placeholder {
            color: #3e3832;
            opacity: 0.8;
        }

        &:hover {
            border-color: black;
        }
    }

    &__tilbakestill {
        position: absolute;
        right: 0;

        background: none;
        border: none;
        padding: 0 0.5rem;
        cursor: pointer;

        &:after {
            display: inline-block;
            color: gray;
            content: '\00d7';
        }
    }

    &__search {
        position: absolute;
    }
}
