.navnefilter {
    display: flex;
    align-items: center;
    position: relative;

    &__label {
        display: none;
    }

    &__input {
        .skjemaelement__input {
            padding: 0.25rem 1.5rem 0.25rem 1.75rem;
            border-width: 0 0 1px 0;
            border-radius: 0;

            &:focus {
                border-radius: 0.25rem;
                border-bottom-color: transparent;
            }
        }

        .skjemaelement__label {
            display: none;
        }
    }

    &__tilbakestill {
        position: absolute;
        right: 0;

        background: none;
        border: none;
        padding: 0 0.5rem;
        cursor: pointer;

        &:after {
            display: inline-block;
            color: gray;
            content: '\00d7';
        }
    }

    &__search {
        position: absolute;
    }
}
