.kandidatlistestatus {
    display: flex;
    align-items: center;
    transition: all 1s;
    gap: 1rem;

    &__ikon {
        margin-top: 0.25rem;
        transform: scale(1.5);
        flex-shrink: 0;
    }

    &__informasjon {
        width: 100%;
    }
}
