.kandidatlistestatus {
    display: flex;
    align-items: center;
    transition: all 1s;
    gap: 1rem;
}

.ikon {
    flex-shrink: 0;
}

.åpen {
    color: green;
}

.lukket {
    color: red;
}

.informasjon {
    width: 100%;
}
