.side-header {
    background-color: #e3edf8;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #d8d8d8;
    display: flex;
    justify-content: center;

    &__wrapper {
        width: 74rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__tittel {
        text-align: center;
    }

    &__header-side {
        width: 10rem;
    }

    &__antall {
        text-align: center;
        margin-top: 1.25rem;
    }

    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5rem;

        &--border-left {
            border-left: 1px solid #59514b;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        &--no-border-left {
            padding-right: 0.5rem;
        }
    }

    &__beskrivelse {
        margin-top: 1.25rem;
        display: flex;
        justify-content: center;

        > p {
            text-align: center;
            max-width: 640px;
            word-break: break-word;
        }
    }
}
