@import 'src/variabler.less';

.cv-ikke-funnet {
    display: flex;
    justify-content: center;

    &__content {
        background-color: white;
        border-radius: 4px;
        border: 1px solid @navGra20;
        width: 40rem;
        padding: 4rem;
    }

    @media (max-width: 600px) {
        &__content {
            padding: 4rem 2rem;
        }
    }
}
